html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.section1__stock p, .section2__titleSlide, .footer__partnerLabel, .footer__socialLabel, .footer__confLink {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300; }

.dropdown-item {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400; }

.section1__telLabel {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500; }

.menu__title, .nav-link, .section1__telNumber, .section1__buttonLink, .section1__title_contactButton, .section1__title_scrollDown, .section1__titleContact h2, .section2__title, .section3__title, .section4__title, .section5__title, .section6__title, .section7__title, .section7__buttonLink, .section7__telNumber {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700; }

.section1__title h1, .section1__brand {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900; }

body, .section1__addrContact p, .section1__telContact p, .section1__mailContact p, .section2__text, .section3__text, .section3__noteUp, .section3__number, .section3__noteDown, .section3__toggle_1, .section3__toggle_2, .section4__text p, .section5__text p, .section6__text p, .section7__text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300; }

.section1__addrContact h3, .section1__telContact h3, .section1__mailContact h3, .section2__brand, .section3__toggle_1.active, .section3__toggle_2.active, .section5__bold, .section5__labelIcon {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/GothamProLight.woff") format("woff"), url("fonts/GothamProLight.ttf") format("ttf"), url("fonts/GothamProLight.eot") format("eot"); }

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular.ttf") format("ttf"), url("fonts/GothamProRegular.eot") format("eot"); }

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium.ttf") format("ttf"), url("fonts/GothamProMedium.eot") format("eot"); }

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/GothamProBold.woff") format("woff"), url("fonts/GothamProBold.ttf") format("ttf"), url("fonts/GothamProBold.eot") format("eot"); }

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack.ttf") format("ttf"), url("fonts/GothamProBlack.eot") format("eot"); }

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Roboto-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Roboto-Light.ttf") format("ttf"); }

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/Flaticon.woff") format("woff"), url("fonts/Flaticon.ttf") format("truetype"), url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg"); } }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px; }

.flaticon-salad:before {
  content: "\f100"; }

.flaticon-gym-1:before {
  content: "\f101"; }

.flaticon-gym:before {
  content: "\f102"; }

.flaticon-baby-buggy:before {
  content: "\f103"; }

.flaticon-fountain:before {
  content: "\f104"; }

.flaticon-family-room:before {
  content: "\f105"; }

.flaticon-arrows-2:before {
  content: "\f106"; }

.flaticon-arrows-1:before {
  content: "\f107"; }

.flaticon-arrows:before {
  content: "\f108"; }

.flaticon-smartphone-call:before {
  content: "\f109"; }

.flaticon-up-chevron:before {
  content: "\f10a"; }

.flaticon-left-chevron:before {
  content: "\f10b"; }

.flaticon-right-chevron:before {
  content: "\f10c"; }

.flaticon-down-chevron:before {
  content: "\f10d"; }

.flaticon-menu:before {
  content: "\f10e"; }

body {
  font-size: 14px;
  color: #333;
  overflow-x: hidden; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0%, -100%);
  transition: transform 0.5s ease 0.1s, opacity 0.4s;
  opacity: 0;
  z-index: 90;
  background: #fff;
  border-right: 1px solid #b6b6b6;
  overflow-y: auto; }
  .menu.menu_open {
    transform: translate(0%, 0%);
    transition: transform 0.5s ease 0.1s, opacity 0.4s;
    opacity: 1;
    z-index: 110; }
  .menu__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 79px;
    border-bottom: 1px solid #b6b6b6;
    z-index: 100;
    background: #fff; }
  .menu__logoWrap_panel {
    padding: 10px;
    width: 79px;
    margin: 0 0 0 calc(10% - 10px);
    box-sizing: border-box; }
  .menu__logo_panel {
    display: block; }
  .menu__titleWrap {
    display: flex;
    align-items: center;
    margin: 0 10% 0 0; }
  .menu__icon_svg {
    width: 25px; }
  .menu__title {
    display: none;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    margin-left: 20px; }
  .menu__icon {
    width: 25px;
    height: 25px;
    fill: #333; }
  .menu__logoWrap {
    width: 160px;
    margin: 40px auto 10px; }
  .menu__nav {
    margin: 15px auto;
    padding: 0 32px; }

.nav-item {
  padding: 0 0 0 30px; }

.dropdown_open .nav-link {
  border-bottom: none; }

.nav-link {
  font-size: 22px;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #c2c2c2; }
  .nav-link :last-child {
    border-bottom: none; }

.dropdown-menu {
  display: none; }

.dropdown_open .dropdown-toggle:before {
  transform: rotate(-90deg);
  transition: transform 0.4s; }

.dropdown-toggle:before {
  transform: rotate(0deg);
  transition: transform 0.5s;
  content: "\f10c";
  font-family: Flaticon;
  font-size: 13px;
  font-style: normal;
  margin-left: -25px;
  color: #d51317;
  position: absolute; }

.dropdown-item {
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0 0 0 26px; }

.content {
  position: absolute;
  top: 79px;
  left: 0;
  right: 0;
  bottom: 0; }

.slick-active .section1__slideImg {
  transform: scale(1.08);
  transition: transform 7s linear; }

.section1 {
  width: 100%;
  height: 100%;
  min-height: 450px;
  position: relative;
  overflow: hidden; }
  .section1__slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .section1__slideWrap {
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .section1__slideImg {
    display: block;
    min-width: 100%;
    min-height: 450px;
    height: calc(100vh - 79px);
    object-fit: cover;
    transform: scale(1);
    transform: scale(1);
    transition: transform 0.1s linear 1s; }
  .section1__info {
    animation: section1Start 1s 3.4s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px 10%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.4) 38%, rgba(0, 0, 0, 0.6) 100%);
    opacity: 0;
    z-index: 50; }
  .section1__telWrap {
    display: flex;
    margin: 4px 0 0 0;
    flex-shrink: 0; }
  .section1__telIcon {
    margin-top: 6px; }
    .section1__telIcon:before {
      content: "\f109";
      font-family: Flaticon;
      font-size: 34px;
      font-style: normal;
      color: #333;
      margin: 0 15px 0 -5px; }
  .section1__telText {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .section1__telLabel {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 28px;
    margin-right: 15px; }
  .section1__telNumber {
    color: #333;
    font-size: 20px;
    line-height: 28px; }
  .section1__titleWrap {
    flex-basis: 71.55%; }
  .section1__title h1 {
    color: #fff;
    font-size: 26px;
    line-height: 35px; }
  .section1__brand {
    color: #d8f0f3;
    font-size: 26px;
    line-height: 35px; }
  .section1__stock {
    margin-top: 20px; }
    .section1__stock p {
      color: #fff;
      font-size: 20px;
      line-height: 35px; }
  .section1__button {
    margin-top: 30px;
    height: 60px;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    border-radius: 30px;
    background-color: #d51317; }
  .section1__buttonLink {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap; }
  .section1__rightBar {
    display: none;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: 10;
    width: 100vh;
    min-width: 700px;
    height: 5.26vw;
    transform: rotate(-90deg);
    transform-origin: calc(100% - 2.63vw) 2.63vw; }
  .section1__contactButton {
    flex-basis: 50%;
    position: relative; }
  .section1__title_contactButton {
    font-size: 15px;
    line-height: 5.26vw;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    margin: 0;
    display: inline-block;
    color: #333;
    padding: 0 2.5vw 0 6vw;
    position: absolute;
    right: 0;
    background: #fff;
    cursor: pointer; }
    .section1__title_contactButton:before {
      content: "\f10a";
      font-family: Flaticon;
      font-size: 11px;
      font-style: normal;
      margin-left: -30px;
      color: #333;
      position: absolute; }
  .section1__scrollDown {
    flex-basis: 50%;
    position: relative; }
  .section1__title_scrollDown {
    font-size: 15px;
    line-height: 5.26vw;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    margin: 0;
    padding: 0 8px 0 100px;
    position: absolute;
    right: 0;
    color: #fff;
    white-space: nowrap; }
    .section1__title_scrollDown:before {
      display: block;
      transform: rotate(90deg) translateY(0);
      content: "\f108";
      font-family: Flaticon;
      font-size: 23px;
      font-style: normal;
      margin: 2px 0 0 -80px;
      color: #fff;
      position: absolute;
      animation: arrowScrollDown 2s ease-in-out infinite; }
  .section1__contact {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 94.74vw;
    background-color: #323232;
    overflow-y: auto;
    padding: 3vw 8vw 4vw 10vw;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
    z-index: 60; }
    .section1__contact.section1__contact_active {
      transform: translateX(0%);
      transition: transform 0.7s cubic-bezier(0.3, 0.66, 0.51, 0.97); }
  .section1__titleContact h2 {
    font-size: 66px;
    line-height: 79px;
    color: #fff;
    flex-grow: 1; }
  .section1__infoContact {
    display: flex;
    flex-shrink: 0;
    margin: 4vw 0; }
  .section1__addrContact {
    flex-basis: 52%;
    position: relative;
    padding: 0 30px; }
    .section1__addrContact h3 {
      font-size: 20px;
      line-height: 34px;
      color: #fff; }
    .section1__addrContact p {
      font-size: 20px;
      line-height: 34px;
      color: #fff; }
    .section1__addrContact:before {
      display: block;
      content: "";
      background-color: #d51317;
      width: 3px;
      height: calc(100% - 24px);
      margin: 12px 0 12px -30px;
      position: absolute; }
  .section1__telContact {
    flex-basis: 24%;
    position: relative;
    padding: 0 30px; }
    .section1__telContact h3 {
      font-size: 20px;
      line-height: 34px;
      color: #fff; }
    .section1__telContact p {
      font-size: 20px;
      line-height: 34px;
      color: #fff; }
    .section1__telContact:before {
      display: block;
      content: "";
      background-color: #d51317;
      width: 3px;
      height: calc(100% - 24px);
      margin: 12px 0 12px -30px;
      position: absolute; }
  .section1__mailContact {
    flex-basis: 24%;
    position: relative;
    padding: 0 30px; }
    .section1__mailContact h3 {
      font-size: 20px;
      line-height: 34px;
      color: #fff; }
    .section1__mailContact p {
      font-size: 20px;
      line-height: 34px;
      color: #fff; }
    .section1__mailContact:before {
      display: block;
      content: "";
      background-color: #d51317;
      width: 3px;
      height: calc(100% - 24px);
      margin: 12px 0 12px -30px;
      position: absolute; }
  .section1__wrapMapContact {
    position: relative;
    flex-shrink: 0;
    flex-grow: 1; }
  .section1__contactClose {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 10px; }
  .section1__icoClose {
    width: 60px;
    height: 60px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    fill: #606060;
    stroke: #606060; }

#map-k {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

@keyframes arrowScrollDown {
  0% {
    transform: rotate(90deg) translateY(-18px); }
  50% {
    transform: rotate(90deg) translateY(18px); }
  100% {
    transform: rotate(90deg) translateY(-18px); } }

@keyframes section1Start {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.section2 {
  width: 100%;
  background: #fff;
  padding-top: 10vw;
  padding-bottom: 3vw;
  position: relative; }
  .section2__content {
    overflow: hidden; }
  .section2__title {
    color: #273441;
    font-size: 26px;
    line-height: 79px;
    margin: 0 10vw 0 10vw; }
  .section2__text {
    color: #333;
    font-size: 15px;
    line-height: 24px;
    margin: 0 10vw 20px 10vw; }
  .section2__brand {
    color: #333;
    font-size: 15px;
    line-height: 24px; }
  .section2__wrapTitleSlide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 10vw 25px 10vw; }
  .section2__titleSlide {
    color: #333;
    font-size: 20px;
    line-height: 48px; }
  .section2__arrowsSlide {
    display: flex;
    margin: 0 -17px; }
    .section2__arrowsSlide button {
      border: 0;
      background: none;
      position: relative;
      width: 42px;
      height: 48px; }
      .section2__arrowsSlide button:focus {
        outline: none; }
      .section2__arrowsSlide button.disabled {
        opacity: 0.5; }
    .section2__arrowsSlide span {
      display: block;
      width: 0;
      overflow: hidden; }
      .section2__arrowsSlide span:before {
        font-family: Flaticon;
        font-size: 26px;
        line-height: 48px;
        font-style: normal;
        color: #333;
        display: block;
        width: 42px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer; }
      .section2__arrowsSlide span[aria-label="Previous"]:before {
        content: "\f106"; }
      .section2__arrowsSlide span[aria-label="Next"]:before {
        content: "\f107"; }
  .section2__slider {
    position: relative;
    transform: translateX(calc(-10vw - 32px)); }
    .section2__slider.owl-carousel {
      width: calc(100% + 32px); }
  .section2__formatSlider {
    padding-top: 69%; }
  .section2__slideImg {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block; }
  .section2__bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30vw; }
  .section2__bgImg_1 {
    position: absolute;
    width: 28%;
    top: 63%;
    right: 58%;
    left: auto;
    transform: translateY(3%);
    transition: transform 0.7s ease-in-out; }
  .section2__bgImg_2 {
    position: absolute;
    width: 61%;
    top: 45%;
    z-index: 50;
    right: 0;
    left: auto;
    transform: translateY(3%);
    transition: transform 0.6s ease-in-out; }
  .section2 .owl-carousel .owl-stage-outer {
    overflow: visible; }

.section1-active .section2__bgImg_1, .section1-active .section2__bgImg_2 {
  transform: translateY(10%);
  transition: transform 0.6s ease-in-out; }

.section2-active .section2__bgImg_1, .section2-active .section2__bgImg_2 {
  transform: translateY(0%);
  transition: transform 0.6s ease-in-out; }

.section3-active .section2__bgImg_1, .section3-active .section2__bgImg_2, .section4-active .section2__bgImg_1, .section4-active .section2__bgImg_2, .section5-active .section2__bgImg_1, .section5-active .section2__bgImg_2, .section6-active .section2__bgImg_1, .section6-active .section2__bgImg_2, .section7-active .section2__bgImg_1, .section7-active .section2__bgImg_2 {
  transform: translateY(-12%);
  transition: transform 0.6s ease-in-out; }

.owl-item .section2__slideImg {
  opacity: 0;
  transition: opacity 0.5s; }

.owl-item.active .section2__slideImg {
  opacity: 1;
  transition: opacity 1s; }

.popup__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.86);
  display: none;
  z-index: 500;
  cursor: pointer; }

.popup .openPopup {
  display: block; }

.popup__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 501;
  box-sizing: border-box;
  max-height: 90vh; }
  .popup__item .section2__slideImg {
    opacity: 1;
    width: 100%;
    max-width: 100%;
    position: static;
    object-fit: contain;
    max-height: 90vh; }

.popup__close {
  position: absolute;
  top: 6vw;
  right: 6vw;
  width: 80px;
  height: 80px;
  cursor: pointer;
  padding: 10px;
  z-index: 502; }

.popup__icoClose {
  width: 60px;
  height: 60px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  fill: #000;
  stroke: #000; }

.section3 {
  width: 100%;
  background: #fff;
  padding-top: 10vw;
  padding-bottom: 10vw;
  position: relative; }
  .section3__content {
    overflow: hidden;
    position: relative; }
  .section3__title {
    color: #273441;
    font-size: 26px;
    line-height: 79px;
    margin: 0 10vw 0 10vw; }
  .section3__text {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 0 10vw 20px 10vw; }
  .section3__wrapTitleNote {
    position: relative;
    width: 216px;
    height: 234px;
    margin: 45px auto 0 10vw; }
    .section3__wrapTitleNote .line1 {
      position: absolute;
      width: 3px;
      background-color: #d51317;
      height: 0;
      bottom: 55%;
      left: 0; }
    .section3__wrapTitleNote .line2 {
      position: absolute;
      width: 0;
      background-color: #d51317;
      height: 3px;
      left: 0;
      top: 0; }
    .section3__wrapTitleNote .line3 {
      position: absolute;
      width: 3px;
      background-color: #d51317;
      height: 0;
      top: 0;
      right: 0; }
    .section3__wrapTitleNote .line4 {
      position: absolute;
      width: 0;
      background-color: #d51317;
      height: 3px;
      right: 0;
      bottom: 0; }
  .section3__noteUp {
    color: inherit;
    font-size: 22px;
    height: 40%;
    line-height: 39px;
    padding-top: 48px;
    text-align: center; }
  .section3__number {
    color: inherit;
    font-size: 59px;
    line-height: 39px; }
  .section3__noteDown {
    color: inherit;
    font-size: 18px;
    line-height: 30px;
    padding: 18px 20px; }
  .section3__toggleBlock {
    position: relative;
    z-index: 40; }
  .section3__wrapTitleToggle {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10vw 36px 10vw; }
  .section3__toggle_1, .section3__toggle_2 {
    flex-basis: 100%;
    text-decoration: underline;
    letter-spacing: 0.08em;
    line-height: 39px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 0; }
  .section3__toggle_1.active, .section3__toggle_2.active {
    text-decoration: none;
    font-size: 16px;
    line-height: 25px; }
  .section3__wrapToggleImg {
    position: relative; }
  .section3__toggleImg {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.7s; }
    .section3__toggleImg.active {
      opacity: 1;
      transition: opacity 0.7s; }
  .section3__toggleFormat {
    padding-top: 63.4%; }
  .section3__bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 31.3vw;
    overflow: hidden; }
  .section3__bgImg_3 {
    position: absolute;
    width: 210%;
    top: 18%;
    max-width: initial;
    display: block;
    right: 0;
    left: auto;
    transform: translateY(3%);
    transition: transform 0.7s ease-in-out; }

@keyframes section3Line1 {
  0% {
    height: 0; }
  100% {
    height: 45%; } }

@keyframes section3Line2 {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes section3Line3 {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes section3Line4 {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes section3Note {
  0% {
    background-color: #fff;
    color: #333; }
  100% {
    background-color: #d51317;
    color: #fff; } }

.section3-init .section3__wrapTitleNote {
  animation: section3Note 0.7s 1.3s;
  animation-fill-mode: forwards; }
  .section3-init .section3__wrapTitleNote .line1 {
    animation: section3Line1 0.2s linear;
    animation-fill-mode: forwards; }
  .section3-init .section3__wrapTitleNote .line2 {
    animation: section3Line2 0.4s linear 0.2s;
    animation-fill-mode: forwards; }
  .section3-init .section3__wrapTitleNote .line3 {
    animation: section3Line3 0.5s linear 0.6s;
    animation-fill-mode: forwards; }
  .section3-init .section3__wrapTitleNote .line4 {
    animation: section3Line4 0.4s linear 1.1s;
    animation-fill-mode: forwards; }

.section1-active .section3__bgImg_3, .section2-active .section3__bgImg_3 {
  transform: translateY(10%);
  transition: transform 1s ease-in-out; }

.section3-active .section3__bgImg_3 {
  transform: translateY(0%);
  transition: transform 1s ease-in-out; }

.section4-active .section3__bgImg_3, .section5-active .section3__bgImg_3, .section6-active .section3__bgImg_3, .section7-active .section3__bgImg_3 {
  transform: translateY(-12%);
  transition: transform 1s ease-in-out; }

.section4 {
  width: 100%; }
  .section4__content {
    width: 100%;
    overflow: hidden; }
  .section4__item {
    position: relative; }
    .section4__item_1 {
      background-size: 47%;
      background-position: center top;
      background-repeat: no-repeat;
      background-color: #b8b8b8;
      padding: 48.5% 10vw 20vw 10vw; }
    .section4__item_2 {
      background-size: 49%;
      background-position: center 12vw;
      background-repeat: no-repeat;
      background-color: #d51317;
      padding: 48.5% 10vw 14vw 10vw; }
    .section4__item_3 {
      background-size: 34%;
      background-position: center 12vw;
      background-repeat: no-repeat;
      background-color: #323232;
      padding: 52.5% 10vw 18vw 10vw; }
  .section4__itemImg {
    position: absolute;
    z-index: 1; }
    .section4__itemImg_1 {
      width: 53%;
      top: -8.5vw;
      left: 13.5%; }
    .section4__itemImg_2 {
      width: 49%;
      top: 12vw;
      left: 25.5%; }
    .section4__itemImg_3 {
      width: 35%;
      top: 9vw;
      left: 32.5%; }
  .section4__hoverImg {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s; }
    .section4__hoverImg_1 {
      top: 0; }
    .section4__hoverImg_2, .section4__hoverImg_3 {
      top: 3vw; }
  .section4__item:hover .section4__hoverImg {
    opacity: 1;
    transition: opacity 0.8s; }
  .section4__title {
    position: relative;
    color: #fff;
    font-size: 26px;
    line-height: 40px;
    margin: 0 0 10px 0;
    z-index: 2; }
  .section4__text {
    z-index: 2;
    position: relative; }
    .section4__text p {
      color: #fff;
      font-size: 16px;
      line-height: 24px; }

.section5 {
  width: 100%;
  background: #fff;
  padding-top: 16vw;
  padding-bottom: 15vw;
  position: relative; }
  .section5__content {
    overflow: hidden; }
  .section5__title {
    color: #273441;
    font-size: 26px;
    line-height: 1.346;
    padding: 16px 0 19px 0;
    margin: 0 10vw 0 10vw; }
  .section5__text p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 0 10vw 24px 10vw; }
  .section5__bold {
    color: #333;
    font-size: 16px;
    line-height: 24px; }
  .section5__blockIcon {
    margin: 0 10vw 34px 10vw; }
  .section5__wrapIcon {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -10px 0; }
  .section5__Icon {
    max-width: 135px;
    flex-basis: calc(50% - 10px);
    position: relative;
    margin: 0 10px 10px 0;
    background-color: #dddddd;
    border: 4px solid #dddddd;
    box-sizing: border-box; }
    .section5__Icon.active {
      background-color: #fff;
      border: 4px solid #d51317; }
  .section5__iconFormat {
    padding-top: 107.4%; }
  .section5__imgIcon {
    position: absolute;
    bottom: 50%;
    width: 40%;
    left: 30%; }
  .section5__labelIcon {
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 9% 5% 0 5%; }
  .section5__wrapText {
    position: relative; }
  .section5__itemText {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(12%);
    opacity: 0;
    transition: transform 0.7s, opacity 0.5s; }
    .section5__itemText.active {
      transform: translateX(0%);
      opacity: 1;
      transition: transform 0.7s 0.5s cubic-bezier(0.3, 0.66, 0.51, 0.97), opacity 0.7s 0.5s; }
  .section5__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 71vw; }
  .section5__bgImg {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    transform: translateY(0%);
    transition: transform 1s ease-in-out; }

.section1-active .section5__bgImg, .section3-active .section5__bgImg, .section4-active .section5__bgImg, .section2-active .section5__bgImg {
  transform: translateY(10%);
  transition: transform 1s ease-in-out; }

/*
.section6-active{
    .section5__bgImg{
        transform: translateY(0%);
        transition: transform 1.6s ease-in-out;
    } 
}
*/
.section6-active .section5__bgImg, .section7-active .section5__bgImg {
  transform: translateY(-8%);
  transition: transform 1s ease-in-out; }

.section6 {
  width: 100%;
  background: #fff;
  padding-top: 10vw;
  padding-bottom: 2vw;
  position: relative; }
  .section6__content {
    position: relative; }
  .section6__wrapNavSlide {
    position: absolute;
    top: -75px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center; }
  .section6__navSlide {
    position: relative;
    margin: 0 auto;
    padding: 15px 58px;
    height: 90px;
    z-index: 10;
    background: #fff; }
  .section6__dotsSlide {
    position: relative; }
    .section6__dotsSlide button {
      display: inline-block;
      zoom: 1;
      border: 0;
      background: none;
      position: relative;
      width: 18px;
      height: 60px;
      text-align: center;
      padding: 0; }
      .section6__dotsSlide button:focus {
        outline: none; }
    .section6__dotsSlide span {
      margin: 0 auto;
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #797979; }
    .section6__dotsSlide .active span {
      background-color: #d51317; }
  .section6__arrowsSlide {
    position: absolute;
    top: 15px;
    left: 0;
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px; }
    .section6__arrowsSlide button {
      border: 0;
      background: none;
      position: relative;
      width: 45px;
      height: 60px;
      padding: 0; }
      .section6__arrowsSlide button:focus {
        outline: none; }
      .section6__arrowsSlide button.disabled {
        opacity: 0.5; }
    .section6__arrowsSlide span {
      display: block;
      width: 0;
      overflow: hidden; }
      .section6__arrowsSlide span:before {
        font-family: Flaticon;
        font-size: 46px;
        line-height: 60px;
        font-style: normal;
        color: #797979;
        display: block;
        width: 45px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer; }
      .section6__arrowsSlide span[aria-label="Previous"]:before {
        content: "\f106"; }
      .section6__arrowsSlide span[aria-label="Next"]:before {
        content: "\f107"; }
  .section6__slider {
    position: relative; }
  .section6__formatSlider {
    padding-top: 55.31%; }
  .section6__slideImg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block; }
  .section6__title {
    color: #273441;
    font-size: 26px;
    line-height: 1.346;
    padding: 16px 0 19px 0;
    margin: 24px 10vw 0 10vw; }
  .section6__text p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 0 10vw 24px 10vw; }

.section7 {
  width: 100%;
  background: #fff;
  padding-top: 3vw;
  padding-bottom: 0;
  position: relative; }
  .section7__content {
    position: relative; }
  .section7__textWrap {
    margin: 0 0 62px 0; }
  .section7__title {
    color: #273441;
    font-size: 26px;
    line-height: 1.346;
    margin: 4px 10vw 20px 10vw; }
  .section7__text p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 10vw 24px 10vw; }
  .section7__button {
    margin-left: 10vw;
    margin-top: 14px;
    height: 60px;
    display: inline-block;
    padding: 0 24px;
    position: relative;
    border-radius: 30px;
    background-color: #d51317; }
  .section7__buttonLink {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap; }
  .section7__telText {
    display: none;
    padding: 28px; }
  .section7__telNumber {
    color: #333;
    font-size: 20px;
    line-height: 28px; }
  .section7__mapWrap {
    margin: 62px 0 0 0;
    position: relative;
    height: 81.25vw; }

#map-7s {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.footer__wrap {
  padding: 40px 0 15vw 0; }

.footer__partnerWrap {
  margin: 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer__partnerItem {
  flex-basis: 36vw;
  box-sizing: border-box;
  padding: 16px 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.footer__partnerLabel {
  font-size: 12px;
  line-height: 16px;
  color: #333;
  flex-grow: 3;
  margin: 0 0 12px 0; }

.footer__partnerIcon {
  min-height: calc(12vw - 4px); }

.footer__partnerImg, .footer__socialIcon {
  width: 100%;
  max-width: 100%; }

.footer__socialLabel {
  margin: 6px 0 10px 0;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  text-align: center; }

.footer__socialWrap {
  display: flex;
  justify-content: center; }

.footer__socialLink {
  display: block;
  width: 10vw;
  max-width: 37px;
  margin: 0 5px 0 0;
  opacity: 0.7; }
  .footer__socialLink:hover {
    opacity: 1; }

.footer__confLabel {
  text-align: center;
  margin: 28px 0 0 0; }

.footer__confLink {
  font-size: 12px;
  opacity: 0.9;
  line-height: 10px;
  display: inline-block;
  color: #5081b8;
  text-decoration: none;
  border-bottom: 1px solid rgba(80, 129, 184, 0.4); }
  .footer__confLink:hover {
    opacity: 1; }

@media screen and (min-width: 480px) {
  .section5__Icon {
    flex-basis: calc(33.3% - 10px); }
  .section7__mapWrap {
    height: 62.25vw; } }

@media screen and (min-width: 640px) {
  .menu__title {
    display: block; }
  .menu__titleWrap {
    width: 26.32%;
    margin: 0 0 0 0; }
  .menu__logoWrap {
    margin: 68px auto 10px; }
  .section1 {
    min-height: 700px; }
    .section1__info {
      padding: 40px 10%; }
    .section1__telIcon:before {
      font-size: 35px;
      margin: 0 25px 0 -5px; }
    .section1__telLabel {
      font-size: 18px;
      margin-right: 20px; }
    .section1__telNumber {
      font-size: 26px; }
    .section1__title h1 {
      font-size: 48px;
      line-height: 57px; }
    .section1__brand {
      font-size: 48px;
      line-height: 57px; }
    .section1__stock {
      margin-top: 36px; }
      .section1__stock p {
        font-size: 26px;
        line-height: 39px; }
    .section1__button {
      margin-top: 50px; }
    .section1__buttonLink {
      font-size: 18px; }
  .section2 {
    padding-top: 9vw; }
    .section2__title {
      font-size: 48px;
      margin: 0 10vw 18px 10vw; }
    .section2__text {
      font-size: 20px;
      line-height: 39px;
      margin: 18px 10vw 20px 10vw; }
    .section2__brand {
      font-size: 20px;
      line-height: 39px; }
    .section2__wrapTitleSlide {
      margin: 20px 10vw 48px 10vw; }
    .section2__titleSlide {
      font-size: 32px;
      line-height: 60px; }
    .section2__arrowsSlide {
      margin: 0 -17px; }
      .section2__arrowsSlide button {
        border: 0;
        background: none;
        position: relative;
        width: 60px;
        height: 60px; }
        .section2__arrowsSlide button:focus {
          outline: none; }
        .section2__arrowsSlide button.disabled {
          opacity: 0.5; }
        .section2__arrowsSlide button.owl-prev {
          margin-right: 10px; }
      .section2__arrowsSlide span:before {
        font-size: 46px;
        line-height: 60px;
        width: 60px;
        top: 0;
        left: 0; }
    .section2__formatSlider {
      padding-top: 67%; }
  .section3 {
    padding-top: 6vw; }
    .section3__title {
      font-size: 48px;
      margin: 0 10vw 18px 10vw; }
    .section3__text {
      font-size: 20px;
      line-height: 39px;
      margin: 20px 10vw 39px 10vw; }
    .section3__wrapTitleToggle {
      margin: 28px 10vw 46px 10vw; }
    .section3__toggle_1, .section3__toggle_2 {
      line-height: 39px;
      font-size: 18px;
      padding: 4px 0; }
    .section3__toggle_1.active, .section3__toggle_2.active {
      font-size: 18px;
      line-height: 39px; }
  .section4__item_1 {
    padding: 44.5% 10vw 11.3vw 10vw;
    background-size: 41%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #b8b8b8; }
  .section4__item_2 {
    padding: 54% 10vw 17vw 10vw;
    background-size: 49%;
    background-position: center 12vw;
    background-repeat: no-repeat;
    background-color: #d51317; }
  .section4__item_3 {
    padding: 48% 10vw 15vw 10vw;
    background-size: 34%;
    background-position: center 4vw;
    background-repeat: no-repeat;
    background-color: #323232; }
  .section4__itemImg_1 {
    width: 49%;
    top: -8.5vw;
    left: 19.5%; }
  .section4__itemImg_2 {
    width: 49%;
    top: 12vw;
    left: 25.5%; }
  .section4__itemImg_3 {
    width: 34%;
    top: 4vw;
    left: 33%; }
  .section4__title {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 24px 0; }
  .section4__text p {
    font-size: 20px;
    line-height: 35px; }
  .section5 {
    padding-top: 102px;
    padding-bottom: 10vw; }
    .section5__bg {
      width: 50vw; }
    .section5__blockIcon {
      margin: 0 10vw 15px 10vw; }
    .section5__title {
      font-size: 48px;
      margin: 0 10vw 0 10vw;
      padding: 16px 0 0 0; }
    .section5__text p {
      font-size: 20px;
      line-height: 39px;
      margin: 6px 10vw 39px 10vw; }
    .section5__bold {
      font-size: 20px;
      line-height: 39px; }
  .section6 {
    padding-top: 0;
    padding-bottom: 0; }
    .section6__wrapNavSlide {
      top: -45px; }
    .section6__formatSlider {
      padding-top: 50%; }
    .section6__title {
      font-size: 48px;
      margin: 34px 10vw 0 10vw;
      padding: 16px 0 0 0; }
    .section6__text p {
      font-size: 20px;
      line-height: 39px;
      margin: 12px 10vw 39px 10vw; }
  .section7 {
    padding-top: 3.8vw;
    padding-bottom: 114px; }
    .section7__textWrap {
      margin: 0 0 104px 0; }
    .section7__title {
      color: #333;
      font-size: 36px;
      margin: 0 10vw 20px 10vw; }
    .section7__text p {
      font-size: 20px;
      line-height: 39px;
      margin: 20px 10vw 20px 10vw; }
    .section7__button {
      padding: 0 30px; }
    .section7__buttonLink {
      font-size: 18px; }
    .section7__telNumber {
      font-size: 26px; }
    .section7__mapWrap {
      margin: 104px 0 0 0; }
  .footer__wrap {
    border-top: 1px solid #b6b6b6;
    padding: 24px 0 115px 0; }
  .footer__partnerWrap {
    justify-content: space-around; }
  .footer__partnerItem {
    flex-basis: 30vw; }
  .footer__partnerLabel {
    font-size: 13px;
    line-height: 17px;
    margin: 0 0 14px 0; }
  .footer__partnerIcon {
    min-height: calc(10vw - 4px); }
  .footer__socialLabel {
    margin: 6px 0 20px 0;
    font-size: 13px; }
  .footer__confLabel {
    margin: 40px 0 0 0; }
  .footer__confLink {
    font-size: 13px;
    line-height: 11px; } }

@media screen and (min-width: 940px) {
  .section5__Icon {
    flex-basis: calc(16.66% - 10px); }
  .section7__mapWrap {
    height: 56vw; } }

@media screen and (min-width: 1024px) {
  .menu {
    right: auto;
    width: 384px;
    transform: translate(-100%, 0%); }
    .menu__panel {
      right: auto;
      bottom: 0;
      width: 5.26%;
      height: auto;
      border-bottom: none;
      border-right: 1px solid #b6b6b6;
      flex-direction: column;
      justify-content: flex-start;
      box-sizing: content-box; }
    .menu__logoWrap_panel {
      padding: 9px;
      width: 100%;
      margin: 40px 0 0 0; }
    .menu__titleWrap {
      width: auto;
      transform: rotate(-90deg);
      margin: 5.4vw 0 0 0; }
  .content {
    top: 0;
    left: 5.26vw; }
  .section1__slideImg {
    height: 100vh; }
  .section1__info {
    padding: 40px 5.26vw;
    background: linear-gradient(rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 10%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.6) 100%); }
  .section1__telWrap {
    margin: 0 0 0 0; }
  .section1__telIcon:before {
    font-size: 35px;
    margin: 0 25px 0 -5px; }
  .section1__titleWrap {
    flex-basis: 52%; }
  .section1__title h1 {
    max-width: 830px;
    font-size: 56px;
    line-height: 65px; }
  .section1__brand {
    font-size: 56px;
    line-height: 65px; }
  .section1__stock {
    margin-top: 20px; }
    .section1__stock p {
      line-height: 51px; }
  .section1__button {
    margin-top: 26px; }
  .section1__rightBar {
    display: flex; }
  .section1__contact {
    display: flex; }
  .section2 {
    padding-top: 6vw; }
    .section2__title {
      font-size: 48px;
      margin: 0 31.36vw 16px 5.26vw; }
    .section2__text {
      font-size: 20px;
      line-height: 39px;
      margin: 16px 31.36vw 62px 5.26vw; }
    .section2__brand {
      font-size: 20px;
      line-height: 39px; }
    .section2__wrapTitleSlide {
      margin: 62px 31.36vw 48px 5.26vw; }
    .section2__titleSlide {
      font-size: 32px;
      line-height: 60px; }
    .section2__arrowsSlide {
      margin: 0 -17px; }
      .section2__arrowsSlide button {
        border: 0;
        background: none;
        position: relative;
        width: 60px;
        height: 60px; }
        .section2__arrowsSlide button:focus {
          outline: none; }
        .section2__arrowsSlide button.disabled {
          opacity: 0.5; }
        .section2__arrowsSlide button.owl-prev {
          margin-right: 10px; }
      .section2__arrowsSlide span:before {
        font-size: 46px;
        line-height: 60px;
        width: 60px;
        top: 0;
        left: 0; }
    .section2__slider {
      margin: 0 26.3vw 0 0;
      transform: translateX(-5.26vw); }
      .section2__slider.owl-carousel {
        width: auto; }
    .section2__formatSlider {
      padding-top: 67%; }
    .section2__bg {
      display: block; }
  .section3 {
    padding-top: 6vw;
    padding-bottom: 6vw; }
    .section3__title {
      font-size: 48px;
      margin: 0 31.36vw 16px 5.26vw; }
    .section3__text {
      font-size: 20px;
      line-height: 39px;
      margin: 18px 31.36vw 40px 5.26vw; }
    .section3__wrapTitleNote {
      position: absolute;
      margin: 0 0 0 0;
      right: 5.26vw;
      bottom: 40px; }
    .section3__wrapTitleToggle {
      margin: 30px 0 46px 5.26vw; }
    .section3__toggle_1, .section3__toggle_2 {
      flex-basis: 50%;
      padding: 0; }
    .section3__bg {
      display: block; }
  .section4__content {
    display: flex; }
  .section4__item {
    flex: 1 1 33%;
    box-sizing: border-box; }
    .section4__item_1 {
      padding: 19vw 3vw 8vw 3vw;
      background-size: 52%;
      background-position: center top;
      background-repeat: no-repeat;
      background-color: #b8b8b8; }
    .section4__item_2 {
      padding: 19vw 3vw 8vw 3vw;
      background-size: 55%;
      background-position: center 1vw;
      background-repeat: no-repeat;
      background-color: #d51317; }
    .section4__item_3 {
      padding: 19vw 3vw 8vw 3vw;
      background-size: 37%;
      background-position: center 1.5vw;
      background-repeat: no-repeat;
      background-color: #323232; }
    .section4__item:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: 3vw;
      transition: height 0.8s; }
    .section4__item:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 3;
      top: auto;
      left: 0;
      background-color: #fff;
      bottom: 0;
      width: 100%;
      height: 3vw;
      transition: height 0.8s; }
    .section4__item:hover:before, .section4__item:hover:after {
      height: 0;
      transition: height 0.8s; }
  .section4__itemImg_1 {
    width: 57%;
    top: -0.5vw;
    left: 15%; }
  .section4__itemImg_2 {
    width: 55%;
    top: 4vw;
    left: 22.5%; }
  .section4__itemImg_3 {
    width: 37%;
    top: 4.5vw;
    left: 31.5%; }
  .section4__hoverImg {
    display: block; }
  .section4__title {
    font-size: 26px;
    margin: 0 0 10px 0; }
  .section4__text p {
    font-size: 16px;
    line-height: 22px; }
  .section5 {
    padding-top: 8vw;
    padding-bottom: 4vw; }
    .section5__bg {
      width: 30vw; }
    .section5__blockIcon {
      margin: 0 5.26vw 44px 5.26vw; }
    .section5__title {
      font-size: 48px;
      margin: 0 5.26vw 22px 5.26vw; }
    .section5__text p {
      font-size: 20px;
      line-height: 39px;
      margin: 18px 5.26vw 38px 5.26vw; }
    .section5__bold {
      font-size: 20px;
      line-height: 39px; }
  .section6 {
    padding-top: 0;
    padding-bottom: 0; }
    .section6__wrapNavSlide {
      top: 0; }
    .section6__formatSlider {
      padding-top: 50%; }
    .section6__title {
      font-size: 48px;
      margin: 70px 5.26vw 13px 5.26vw; }
    .section6__text p {
      font-size: 20px;
      line-height: 39px;
      margin: 1px 5.26vw 38px 5.26vw; }
  .section7 {
    padding-top: 4vw; }
    .section7__textWrap {
      margin: 0 auto 104px 5.26vw;
      width: 45vw; }
    .section7__title {
      margin: 0 0 22px 0; }
    .section7__text p {
      margin: 22px 0 18px 0; }
    .section7__button {
      margin: 18px 0 0 0; }
    .section7__mapWrap {
      margin: 104px 0 0 0; }
  .footer__wrap {
    padding: 24px 0 56px 0; }
  .footer__partnerWrap {
    margin: 0; }
  .footer__partnerItem {
    flex-basis: 17vw; }
  .footer__partnerLabel {
    margin: 0 0 14px 0; }
  .footer__partnerIcon {
    min-height: calc(5.66vw - 4px); }
  .footer__socialLabel {
    margin: 28px 0 24px 0; }
  .footer__confLabel {
    margin: 30px 0 0 0; } }

@media screen and (min-width: 1440px) {
  .menu.menu_active {
    transform: translate(0%, 0%);
    transition: transform 0.5s ease 0.1s, opacity 0.4s;
    opacity: 1;
    z-index: 110; }
  .menu__panel {
    width: 5vw; }
  .menu__logoWrap_panel {
    padding: 0.5vw;
    margin: 3vw 0 0 0; }
  .menu__titleWrap {
    margin: 5.7vw 0 0 0; }
  .menu__icon_svg {
    width: 1.25vw; }
  .menu__title {
    font-size: 0.95vw;
    line-height: 1.25vw;
    margin-left: 1.05vw; }
  .menu__icon {
    width: 1.25vw;
    height: 1.25vw; }
  .content {
    left: 5vw; }
  .section1 {
    min-height: 50vw; }
    .section1__slideImg {
      min-height: 50vw; }
    .section1__info {
      padding: 4.73vw 15vw 4.73vw calc(384px + 5vw); }
    .section1__telWrap {
      margin: 0 0 0 0; }
    .section1__titleWrap {
      flex-basis: 52%; }
    .section1__title h1 {
      max-width: 53vw;
      font-size: 3.63vw;
      line-height: 4.16vw; }
    .section1__brand {
      font-size: 3.63vw;
      line-height: 4.16vw; }
    .section1__stock {
      margin-top: 2.1vw; }
      .section1__stock p {
        font-size: 1.68vw;
        line-height: 2.675vw; }
    .section1__button {
      margin-top: 2vw;
      height: 3.675vw;
      padding: 0 1.8375vw;
      border-radius: 1.8375vw; }
    .section1__buttonLink {
      font-size: 1.15vw;
      line-height: 3.675vw; }
    .section1__rightBar {
      min-width: 50vw;
      height: 5vw;
      transform-origin: calc(100% - 2.5vw) 2.5vw; }
    .section1__title_contactButton {
      font-size: 0.95vw;
      line-height: 5vw;
      padding: 0 2.5vw 0 5vw; }
      .section1__title_contactButton:before {
        font-size: 0.6vw;
        margin-left: -2vw; }
    .section1__title_scrollDown {
      font-size: 0.95vw;
      line-height: 5vw;
      padding: 0 1vw 0 5vw; }
      .section1__title_scrollDown:before {
        font-size: 1.2vw;
        margin: 0.1vw 0 0 -5vw; }
    .section1__contact {
      width: calc(100vw - 384px); }
    .section1__addrContact {
      flex-basis: 57%; }
    .section1__telContact {
      flex-basis: 22%; }
    .section1__mailContact {
      flex-basis: 21%; }
  .section2-active .section2__title:before {
    width: 6.5vw;
    transition: width 1.2s; }
  .section2 {
    padding-top: 6vw; }
    .section2__title {
      font-size: 3.47vw;
      margin: 0 35vw 16px 25vw;
      position: relative; }
      .section2__title:before {
        display: block;
        content: "";
        background-color: #d51317;
        height: 3px;
        width: 0;
        top: 50%;
        margin: 0 0 0 -10vw;
        position: absolute;
        transition: width 1.2s; }
    .section2__text {
      font-size: 20px;
      line-height: 39px;
      margin: 1.84vw 35vw 4.05vw 25vw; }
    .section2__brand {
      font-size: 20px;
      line-height: 39px; }
    .section2__wrapTitleSlide {
      margin: 4.05vw 35vw 4.05vw 25vw; }
    .section2__titleSlide {
      font-size: 2vw;
      line-height: 60px; }
    .section2__arrowsSlide {
      margin: 0 -17px; }
      .section2__arrowsSlide button {
        border: 0;
        background: none;
        position: relative;
        width: 60px;
        height: 60px; }
        .section2__arrowsSlide button:focus {
          outline: none; }
        .section2__arrowsSlide button.disabled {
          opacity: 0.5; }
        .section2__arrowsSlide button.owl-prev {
          margin-right: 10px; }
      .section2__arrowsSlide span:before {
        font-size: 46px;
        line-height: 60px;
        width: 60px;
        top: 0;
        left: 0; }
    .section2__slider {
      margin: 0 calc(25vw - 30px) 0 0;
      transform: translateX(calc(-10vw - 30px)); }
      .section2__slider.owl-carousel {
        width: auto; }
    .section2__formatSlider {
      padding-top: 67%; }
    .section2__bgImg_1 {
      left: 0;
      right: auto; }
    .section2__bgImg_2 {
      position: absolute;
      width: 61%;
      top: 45%;
      z-index: 50;
      left: 28%;
      right: auto; }
  .section3 {
    padding-top: 4vw; }
    .section3__title {
      font-size: 3.47vw;
      margin: 0 35vw 16px 25vw;
      position: relative; }
    .section3__text {
      font-size: 20px;
      line-height: 39px;
      margin: 2vw 35vw 2vw 25vw; }
    .section3__wrapTitleNote {
      width: 15vw;
      height: 16.25vw;
      right: 15vw;
      bottom: 3vw; }
      .section3__wrapTitleNote .line1 {
        width: 4px; }
      .section3__wrapTitleNote .line2 {
        height: 4px; }
      .section3__wrapTitleNote .line3 {
        width: 4px; }
      .section3__wrapTitleNote .line4 {
        height: 4px; }
    .section3__noteUp {
      font-size: 2.68vw;
      line-height: 2.05vw;
      padding-top: 3.79vw; }
    .section3__number {
      font-size: 5.47vw;
      line-height: 2.05vw; }
    .section3__noteDown {
      font-size: 0.95vw;
      line-height: 1.58vw;
      padding: 1.9vw 2.95vw; }
    .section3__wrapTitleToggle {
      margin: 3vw 15vw 5vw 25vw; }
    .section3__toggle_1, .section3__toggle_2 {
      margin: 0 3vw 0 0;
      flex-basis: 43%;
      padding: 0; }
    .section3__wrapToggleImg {
      margin: 0 15vw; }
    .section3__bgImg_3 {
      width: 32.2vw; }
    .section3__bgImg_3 {
      position: absolute;
      width: 115%;
      top: 17%; }
  .section4__item_1 {
    padding: 19vw 3vw 7vw 3vw;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #b8b8b8; }
  .section4__item_2 {
    padding: 19vw 3vw 7vw 3vw;
    background-size: 64%;
    background-position: center 1.7vw;
    background-repeat: no-repeat;
    background-color: #d51317; }
  .section4__item_3 {
    padding: 19vw 3vw 7vw 3vw;
    background-size: 38%;
    background-position: center 1.7vw;
    background-repeat: no-repeat;
    background-color: #323232; }
  .section4__itemImg_1 {
    width: 60%;
    top: -1vw;
    left: 15%; }
  .section4__itemImg_2 {
    width: 64%;
    top: 4.7vw;
    left: 20%; }
  .section4__itemImg_3 {
    width: 38%;
    top: 4.7vw;
    left: 31%; }
  .section4__title {
    font-size: 2.1vw;
    line-height: 3.95vw;
    margin: 0 0 1.05vw 0; }
  .section4__text p {
    font-size: 1vw;
    line-height: 1.74vw; }
  .section5__content {
    display: flex; }
  .section5__blockIcon {
    flex-basis: 25vw;
    margin: 0 0 0 15vw; }
  .section5__Icon {
    max-width: initial;
    flex-basis: calc(50% - 10px); }
  .section5__iconFormat {
    padding-top: 100%; }
  .section5__imgIcon {
    width: 28%;
    left: 36%; }
  .section5__labelIcon {
    font-size: 0.83vw;
    line-height: 1.4vw;
    padding: 9% 10% 0 10%; }
  .section5__wrapText {
    flex-basis: 35vw;
    margin: 0 auto 0 5vw; }
  .section5__title {
    font-size: 3.47vw;
    margin: 0.84vw 0 1.47vw 0;
    position: relative; }
  .section5__text p {
    font-size: 20px;
    line-height: 39px;
    margin: 1.47vw 0 2vw 0; }
  .section5__bold {
    font-size: 20px;
    line-height: 39px; }
  .section6__wrapNavSlide {
    width: auto;
    right: 5vw;
    left: 0; }
  .section6__navSlide {
    padding: 0.78125vw 4.48vw 1.5625vw 4.48vw;
    height: 6.72vw; }
  .section6__dotsSlide button {
    width: 1.25vw;
    height: 4.6875vw; }
  .section6__dotsSlide span {
    width: 0.625vw;
    height: 0.625vw; }
  .section6__arrowsSlide {
    top: 0.78125vw;
    padding: 0 1.5625vw 0 1.146vw; }
    .section6__arrowsSlide button {
      width: 3.125vw;
      height: 4.6875vw; }
    .section6__arrowsSlide span {
      display: block;
      width: 0;
      overflow: hidden; }
      .section6__arrowsSlide span:before {
        font-size: 3.54vw;
        line-height: 4.6875vw;
        width: 3.125vw; }
  .section6__formatSlider {
    padding-top: 53.24%; }
  .section6__textWrap {
    margin: 0 20vw;
    position: relative;
    background: #fff;
    z-index: 10;
    transform: translateY(-8vw); }
  .section6__title {
    font-size: 3.47vw;
    margin: 0.84vw 5vw 1.47vw 5vw;
    padding: 3.35vw 0 0 0; }
  .section6__text p {
    font-size: 20px;
    line-height: 39px;
    margin: 1.47vw 5vw 0 5vw; }
  .section7 {
    padding-top: 0;
    padding-bottom: 5vw; }
    .section7__content {
      display: flex;
      align-items: center; }
    .section7__textWrap {
      margin: 0 5vw 0 15vw;
      width: 25vw; }
    .section7__title {
      font-size: 42px;
      margin: 0 0 1.5625vw 0; }
    .section7__text p {
      font-size: 20px;
      line-height: 39px;
      margin: 1.5625vw 0; }
    .section7__button {
      margin: 1vw 0 0 0;
      height: 3.675vw;
      padding: 0 1.8375vw;
      border-radius: 1.8375vw; }
    .section7__buttonLink {
      font-size: 1.15vw;
      line-height: 3.675vw; }
    .section7__telText {
      margin: 2.08vw 0 0 0;
      display: block; }
    .section7__mapWrap {
      flex-grow: 1;
      height: 28.125vw;
      margin: 0; }
  .footer__wrap {
    padding: 1.45vw 0 2.5vw 0; }
  .footer__partnerWrap {
    margin: 0 0 0 7vw;
    justify-content: center; }
  .footer__partnerItem {
    margin: 0 1vw;
    flex-basis: 14vw;
    padding: 1.11vw 0.416vw; }
  .footer__partnerLabel {
    font-size: 0.9375vw;
    line-height: 1.4vw;
    margin: 0 0 1.15vw 0; }
  .footer__partnerIcon {
    min-height: 4.4vw; }
  .footer__socialLabel {
    margin: 1.72vw 0 1.82vw 0;
    font-size: 0.9375vw;
    line-height: 0.85vw; }
  .footer__socialLink {
    width: 2.65625vw;
    max-width: initial;
    margin: 0 0.3646vw 0 0; }
  .footer__confLabel {
    margin: 2.6vw 0 0 0; }
  .footer__confLink {
    font-size: 0.9375vw;
    line-height: 0.85vw; } }

@media screen and (min-width: 1920px) {
  .menu {
    width: 20vw; }
    .menu__logoWrap {
      width: 8.42vw;
      margin: 3.56vw auto 0.53vw; }
    .menu__nav {
      margin: 0.79vw auto;
      padding: 0 1.68vw; }
  .nav-link {
    font-size: 1.16vw;
    line-height: 2.2vw;
    padding: 1.05vw 0; }
  .dropdown-toggle:before {
    font-size: 0.68vw;
    margin-left: -1.3vw; }
  .dropdown-item {
    font-size: 0.84vw;
    line-height: 1.58vw;
    padding: 0 0 0 1.37vw; }
  .section1__info {
    padding: 4.73vw 15vw 4.73vw 25vw; }
  .section1__telIcon {
    margin: 0 0 0 0; }
    .section1__telIcon:before {
      font-size: 1.89vw;
      margin: 0 1.2vw 0 -0.25vw; }
  .section1__telLabel {
    font-size: 1.05vw; }
  .section1__telNumber {
    font-size: 1.47vw; }
  .section1__title h1 {
    max-width: 60vw; }
  .section2__title {
    font-size: 3.47vw; }
  .section2__text {
    font-size: 1.05vw;
    line-height: 2.05vw; }
  .section2__brand {
    font-size: 1.05vw;
    line-height: 2.05vw; }
  .section2__titleSlide {
    line-height: 3vw; }
  .section2__arrowsSlide {
    margin: 0 -0.9vw; }
    .section2__arrowsSlide button {
      width: 3vw;
      height: 3vw; }
      .section2__arrowsSlide button.owl-prev {
        margin-right: 0.5vw; }
    .section2__arrowsSlide span:before {
      font-size: 2.42vw;
      line-height: 3vw;
      width: 3vw; }
  .section2__slider {
    margin: 0 calc(25vw - 30px) 0 0;
    transform: translateX(calc(-10vw - 30px)); }
    .section2__slider.owl-carousel {
      width: auto; }
  .section3__title {
    font-size: 3.47vw; }
  .section3__text {
    font-size: 1.05vw;
    line-height: 2.05vw; }
  .section3__toggle_1, .section3__toggle_2 {
    line-height: 2.05vw;
    font-size: 0.95vw; }
  .section3__toggle_1.active, .section3__toggle_2.active {
    line-height: 2.05vw;
    font-size: 0.95vw; }
  .section5__text p {
    font-size: 1.05vw;
    line-height: 2.05vw; }
  .section5__bold {
    font-size: 1.05vw;
    line-height: 2.05vw; }
  .section6__text p {
    font-size: 1.042vw;
    line-height: 2.05vw; }
  .section7__title {
    font-size: 2.08vw; }
  .section7__text p {
    font-size: 1.042vw;
    line-height: 2.05vw; }
  .section7__telNumber {
    font-size: 1.47vw; } }
