%font_GP_l{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
}

%font_GP_r{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
}

%font_GP_m{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
}

%font_GP_b{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
}

%font_GP_bl{
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900;
}

%font_R_l{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

%font_R_b{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}
