

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/GothamProLight.woff') format('woff'),
       url('fonts/GothamProLight.ttf') format('ttf'),
       url('fonts/GothamProLight.eot') format('eot');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/GothamProRegular.woff') format('woff'),
       url('fonts/GothamProRegular.ttf') format('ttf'),
       url('fonts/GothamProRegular.eot') format('eot');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/GothamProMedium.woff') format('woff'),
       url('fonts/GothamProMedium.ttf') format('ttf'),
       url('fonts/GothamProMedium.eot') format('eot');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/GothamProBold.woff') format('woff'),
       url('fonts/GothamProBold.ttf') format('ttf'),
       url('fonts/GothamProBold.eot') format('eot');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/GothamProBlack.woff') format('woff'),
       url('fonts/GothamProBlack.ttf') format('ttf'),
       url('fonts/GothamProBlack.eot') format('eot');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto-Bold.ttf') format('ttf')
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Roboto-Light.ttf') format('ttf')
}

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
 
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-salad:before { content: "\f100"; }
.flaticon-gym-1:before { content: "\f101"; }
.flaticon-gym:before { content: "\f102"; }
.flaticon-baby-buggy:before { content: "\f103"; }
.flaticon-fountain:before { content: "\f104"; }
.flaticon-family-room:before { content: "\f105"; }
.flaticon-arrows-2:before { content: "\f106"; }
.flaticon-arrows-1:before { content: "\f107"; }
.flaticon-arrows:before { content: "\f108"; }
.flaticon-smartphone-call:before { content: "\f109"; }
.flaticon-up-chevron:before { content: "\f10a"; }
.flaticon-left-chevron:before { content: "\f10b"; }
.flaticon-right-chevron:before { content: "\f10c"; }
.flaticon-down-chevron:before { content: "\f10d"; }
.flaticon-menu:before { content: "\f10e"; }
  
body{
    @extend %font_R_l;
    font-size:14px;
    color:#333;
    overflow-x: hidden;
}


.menu{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: translate(0%, -100%);
    transition: transform 0.5s ease 0.1s, opacity 0.4s;
    opacity: 0;
    z-index:90;
    background: #fff;
    border-right:1px solid #b6b6b6;
    overflow-y:auto;
    
    
    
    &.menu_open{
        transform: translate(0%, 0%);
        transition: transform 0.5s ease 0.1s, opacity 0.4s;
        opacity: 1;
        z-index:110;
    }
    
    &.menu_active{

    }
    
    &__panel{
        display:flex;
        align-items: center;
        justify-content: space-between;
        position:fixed;
        top:0;
        left:0;
        right:0;
        height:79px;
        border-bottom: 1px solid #b6b6b6;
        z-index: 100;
        background: #fff;
    }
    
    &__logoWrap_panel{
        padding:10px;
        width:79px;
        margin:0 0 0 calc(10% - 10px);
        box-sizing: border-box;
    }
    
    &__logo_panel{
        display:block; 
    }
    
    &__titleWrap{
        display:flex;
        align-items: center;
        margin:0 10% 0 0;
    }
    
    &__icon_svg{
        width:25px;
        
    }
    
    
    &__title{
        @extend %font_GP_b;
        display:none;
        font-size:15px;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.32em;
        margin-left: 20px;
    }
    
    &__icon{
        width:25px;
        height:25px;
        fill:#333;
    }
    
    &__logoWrap{
        width:160px;
        margin:40px auto 10px;
    }
    
    &__nav{
        margin:15px auto;
        padding:0 32px;
    }
    
}

.nav-item{
    padding: 0 0 0 30px;
}

.dropdown_open .nav-link{
    border-bottom:none;
}

.nav-link{
    @extend %font_GP_b;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    text-decoration:none;
    color:#333;
    display:block;
    padding:20px 0;
    border-bottom:1px solid #c2c2c2;
    :last-child{
        border-bottom:none;
    }
        
}

.dropdown-menu{
    display: none;
}

.dropdown_open .dropdown-toggle:before{
    transform: rotate(-90deg);
    transition:transform 0.4s;
}

.dropdown-toggle:before{
    transform: rotate(0deg);
    transition:transform 0.5s;
    content:"\f10c";
    font-family: Flaticon;
    font-size: 13px;
    font-style: normal;
    margin-left: -25px;
    color:#d51317;
    position:absolute;
}

.dropdown-item{
    @extend %font_GP_r;
    font-size: 16px;
    line-height: 30px;
    text-decoration:none;
    color:#333;
    display: block;
    padding: 0 0 0 26px;
}

.content{
   position:absolute;
   top:79px;
   left:0;
   right:0;
   bottom:0;
}

.slick-active .section1__slideImg{
   transform:scale(1.08);
   transition: transform 7s linear;
}


.section1{
    width:100%;
    height:100%;
    min-height: 450px;
    position:relative;
    overflow:hidden;
    
    &__slider{
        position:relative;
        width:100%;
        height:100%;
        overflow: hidden;
    }
    
    &__slideWrap{
        //position:absolute;        
        overflow: hidden;
        width:100%;
        height:100%;
    }
    
    &__slideImg{
        display:block;
        min-width: 100%;
        //min-height: calc(100vh - 79px);
        min-height: 450px;
        height:calc(100vh - 79px);
        object-fit: cover;
        transform: scale(1);
        transform:scale(1);
        transition: transform 0.1s linear 1s;
    }
    
    &__info{
        
        animation: section1Start 1s 3.4s;
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding: 32px 10%;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.4) 38%, rgba(0, 0, 0, 0.6) 100%);
        opacity: 0;
        z-index: 50;
    }
    
    &__telWrap{
        display:flex;
        margin: 4px 0 0 0;
        flex-shrink: 0;
    }
    
    &__telIcon{
            margin-top:6px;
        &:before{
            content:"\f109";
            font-family: Flaticon;
            font-size: 34px;
            font-style: normal;
            color:#333;
            margin:0 15px 0 -5px;
        }
    }
    
    &__telText{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    &__telLabel{
        @extend %font_GP_m;
        color:#333;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 28px;
        margin-right: 15px;
    }
    
    &__telNumber{
        @extend %font_GP_b;
        color:#333;
        font-size: 20px;
        line-height: 28px;
    }
    
    &__titleWrap{
        flex-basis: 71.55%;
    }
    
    &__title h1{
        @extend %font_GP_bl;
        color:#fff;
        font-size: 26px;
        line-height: 35px;
    }
    
    &__brand{
        @extend %font_GP_bl;
        color:#d8f0f3;
        font-size: 26px;
        line-height: 35px;
    }
    
    &__stock{
        margin-top: 20px;
        p{
            @extend %font_GP_l;
            color:#fff;
            font-size: 20px;
            line-height: 35px;
        }
    }
    
    &__button{
        margin-top: 30px;
        height:60px;
        display: inline-block;
        padding: 0 30px;
        position:relative;        
        border-radius: 30px;
        background-color: #d51317;
    }
    
    &__buttonLink{
        display: block;
        @extend %font_GP_b;
        color:#fff;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
        white-space: nowrap;
    }
    
    &__rightBar{
        display:none;
        position:absolute;
        top:0;
        left:auto;
        right:0;
        z-index: 10;
        width:100vh;
        min-width: 700px;
        height: 5.26vw;
        transform: rotate(-90deg);
        transform-origin: calc(100% - 2.63vw) 2.63vw;
        
    }
    
    &__contactButton{
        flex-basis: 50%;
        position: relative;
    }
    
    &__title_contactButton{

        @extend %font_GP_b;
        font-size: 15px;
        line-height: 5.26vw;
        text-transform: uppercase;
        letter-spacing: 0.32em;
        margin: 0;
        display: inline-block;
        color: #333;
        padding: 0 2.5vw 0 6vw;
        position: absolute;
        right: 0;
        background: #fff;
        cursor: pointer;
        &:before{
            content:"\f10a";
            font-family: Flaticon;
            font-size: 11px;
            font-style: normal;
            margin-left: -30px;
            color:#333;
            position:absolute;            
        }
        
    }
    
    &__scrollDown{
        flex-basis: 50%;
        position: relative;
    }
    
    &__title_scrollDown{
        @extend %font_GP_b;
        font-size:15px;
        line-height: 5.26vw;
        text-transform: uppercase;
        letter-spacing: 0.32em;
        margin:0;
        padding: 0 8px 0 100px;
        position: absolute;
        right: 0;
        color:#fff;
        white-space: nowrap;
        
        &:before{
            display: block;
            transform: rotate(90deg) translateY(0);
            content:"\f108";
            font-family: Flaticon;
            font-size: 23px;
            font-style: normal;
            margin: 2px 0 0 -80px;
            color:#fff;
            position:absolute;
            animation: arrowScrollDown 2s ease-in-out infinite;            
        }
    }
    
    &__contact{
        display:none;
        flex-direction: column;
        justify-content: space-around;
        position:absolute;
        right:0;
        top:0;
        height: 100%;
        width:94.74vw;
        background-color: #323232;
        overflow-y: auto;
        padding:3vw 8vw 4vw 10vw;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 0.7s ease-in;
        z-index:60;
        
        &.section1__contact_active{
            transform: translateX(0%);
            transition: transform 0.7s cubic-bezier(.3,.66,.51,.97);
        }
    }
    
    &__titleContact{
        h2{
            @extend %font_GP_b;
            font-size: 66px;
            line-height: 79px;
            color:#fff;
            flex-grow: 1;
        }
    }
    
    &__infoContact{
        display:flex;
        flex-shrink: 0;
        margin:4vw 0;
    }
    
    &__addrContact{
        flex-basis: 52%;

        position:relative;
        padding:0 30px;
        
        h3{
           @extend %font_R_b;
           font-size:20px;
           line-height: 34px;
           color:#fff;
        }
        
        p{
           @extend %font_R_l;
           font-size:20px;
           line-height: 34px;
           color:#fff;
        }
        
        &:before{

            display: block;
            content:"";
            background-color: #d51317;
            width:3px;
            height:calc(100% - 24px);
            margin:12px 0 12px -30px;
            position:absolute;
        }
    }
    
    &__telContact{
        flex-basis: 24%;

        position:relative;
        padding:0 30px;
        
        h3{
           @extend %font_R_b;
           font-size:20px;
           line-height: 34px;
           color:#fff;
        }
        
        p{
           @extend %font_R_l;
           font-size:20px;
           line-height: 34px;
           color:#fff;
        }
        
        &:before{
            display: block;
            content:"";
            background-color: #d51317;
            width:3px;
            height:calc(100% - 24px);
            margin:12px 0 12px -30px;
            position:absolute;
        }
    }
    
    &__mailContact{
        flex-basis: 24%;

        position:relative;
        padding:0 30px;
        
        h3{
           @extend %font_R_b;
           font-size:20px;
           line-height: 34px;
           color:#fff;
        }
        
        p{
           @extend %font_R_l;
           font-size:20px;
           line-height: 34px;
           color:#fff;
        }
        
        &:before{
            display: block;
            content:"";
            background-color: #d51317;
            width:3px;
            height:calc(100% - 24px);
            margin:12px 0 12px -30px;
            position:absolute;
        }
    }
    
    &__wrapMapContact{
        position: relative;
        flex-shrink: 0;
        flex-grow: 1;
    }
    
    &__contactClose{
        position:absolute;
        top:5vw;
        right:5vw;
        width: 80px;
        height: 80px;
        cursor: pointer;
        padding: 10px; 
    }
    
    &__icoClose{
                    width:60px;
                    height:60px;                   
                    stroke-linecap:round;
                    stroke-linejoin:round;
                    stroke-width:2;
                    fill:#606060;
                    stroke:#606060;
    }

    
}


#map-k{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

@keyframes arrowScrollDown{
    0%{
        transform: rotate(90deg) translateY(-18px);
    }
    50%{
        transform: rotate(90deg) translateY(18px);
    }
    100%{
        transform: rotate(90deg) translateY(-18px);
    }
}

@keyframes section1Start{
    0%{
        transform:translateY(50px);
        opacity:0;
    }

    100%{
        transform:translateY(0px);
        opacity:1;
    }
}

.section2{
    width:100%;
    background: #fff;
    padding-top:10vw;
    padding-bottom: 3vw;

    position:relative;
    
    &__content{
        overflow:hidden;
        
    }
    
    &__title{
        @extend %font_GP_b;
        color:#273441;
        font-size:26px;
        line-height:79px;
        margin:0 10vw 0 10vw;

    }
    
    &__text{
        @extend %font_R_l;
        color:#333;
        font-size:15px;
        line-height:24px;
        margin:0 10vw 20px 10vw;

    }
    
    &__brand{
        @extend %font_R_b;
        color:#333;
        font-size:15px;
        line-height:24px;         
    }
    
    &__wrapTitleSlide{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:20px 10vw 25px 10vw;
    }
    
    &__titleSlide{
        @extend %font_GP_l;
        color:#333;
        font-size:20px;
        line-height:48px;
    }
    
    &__arrowsSlide{
        display:flex;
        margin: 0 -17px;
        
        button{
            border:0;
            background: none;
            position: relative;
            width: 42px;
            height: 48px;
            &:focus{
                outline: none;
            }
            &.disabled{
                opacity: 0.5;
            }
        }
        
        span{
            display: block;
            width: 0;
            overflow: hidden;
            &:before{                
                font-family: Flaticon;
                font-size: 26px;
                line-height: 48px;
                font-style: normal;
                color: #333;
                display: block;
                width: 42px;
                position: absolute;
                
                top:0;
                left:0;
                cursor: pointer; 
            }
            &[aria-label="Previous"]:before{
                content: "\f106";
            }
            &[aria-label="Next"]:before{
                content: "\f107";
            }
        }
    }
    
    
    &__slider{
        
        position:relative;
        transform: translateX(calc(-10vw - 32px));
        &.owl-carousel{
            width:calc(100% + 32px);
        }
    }
    
    &__formatSlider{
        padding-top: 69%;
    }
    

    
    &__slideImg{
       opacity: 0;
       position: absolute;
       top:0;
       left:0;
       min-height: 100%;
       min-width:100%;
       max-width: 100%;
       max-height: 100%;
       object-fit: cover;
       display: block;
    }
    
    &__bg{
        display:none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width:30vw;
    }
    
    &__bgImg_1{
        position: absolute;
        width: 28%;
        top: 63%;
        right:58%;
        left:auto;
        transform: translateY(3%);
        transition: transform 0.7s ease-in-out;
    }
    
    
    &__bgImg_2{
         position: absolute;
         width: 61%;
         top: 45%;
         z-index: 50;
         right:0;
         left:auto;
        transform: translateY(3%);
        transition: transform 0.6s ease-in-out;
    }
    
    .owl-carousel .owl-stage-outer{
        overflow: visible;
    }
}

.section1-active{
    .section2__bgImg_1, .section2__bgImg_2{
        transform: translateY(10%);
        transition: transform 0.6s ease-in-out;
    } 
}

.section2-active{
    .section2__bgImg_1, .section2__bgImg_2{
        transform: translateY(0%);
        transition: transform 0.6s ease-in-out;
    } 
}

.section3-active, .section4-active, .section5-active, .section6-active,.section7-active{
    .section2__bgImg_1, .section2__bgImg_2{
        transform: translateY(-12%);
        transition: transform 0.6s ease-in-out;
    } 
}

.owl-item .section2__slideImg{
 opacity: 0;
 transition: opacity 0.5s;
}


.owl-item.active .section2__slideImg{
 opacity: 1;
 transition: opacity 1s;
}

.popup{    
    &__overlay{
        //display:none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.86);
        display: none;
        z-index: 500;
        cursor: pointer;
    }
    
    .openPopup{
        display:block;
    }
    
    &__item{
        position: absolute;
        top:50%;
        left:50%;
        width: 80%;
        transform: translate(-50%,-50%);
        z-index: 501;
        box-sizing: border-box;
        max-height: 90vh;
        
        .section2__slideImg{
            opacity: 1;
            width:100%;
            max-width:100%;
            position: static;
            object-fit: contain;
            max-height: 90vh;
        }

    }
    
    &__close{
        position:absolute;
        top:6vw;
        right:6vw;
        width: 80px;
        height: 80px;
        cursor: pointer;
        padding: 10px;
        z-index: 502;
    }
    
    &__icoClose{
                    width:60px;
                    height:60px;                   
                    stroke-linecap:round;
                    stroke-linejoin:round;
                    stroke-width:2;
                    fill:#000;
                    stroke:#000;
    }
}


.section3{
    width:100%;
    background: #fff;
    padding-top:10vw;
    padding-bottom: 10vw;
    position:relative;
    
    &__content{
        overflow:hidden;
        position: relative;
    }
    
    &__title{
        @extend %font_GP_b;
        color:#273441;
        font-size:26px;
        line-height:79px;
        margin:0 10vw 0 10vw;

    }
    
    &__text{
        @extend %font_R_l;
        color:#333;
        font-size:16px;
        line-height:24px;
        margin:0 10vw 20px 10vw;

    }

    
    &__wrapTitleNote{
        position: relative;
        width: 216px;
        height: 234px;
        margin:45px auto 0 10vw;
        
        .line1 {
            position:absolute;
            width:3px;
            background-color: #d51317;
            height:0;
            bottom:55%;
            left:0;
        }
        .line2 {
            position:absolute;
            width:0;
            background-color: #d51317;
            height:3px;
            left:0;
            top:0;
        }
        .line3 {
            position:absolute;
            width:3px;
            background-color: #d51317;
            height:0;
            top:0;
            right:0;
        }
        .line4 {
            position:absolute;
            width:0;
            background-color: #d51317;
            height:3px;
            right:0;
            bottom:0;
        }
        
        
    }
    
    &__noteUp{
        @extend %font_R_l;
        color:inherit;
        font-size: 22px;
        height: 40%;
        line-height: 39px;
        padding-top: 48px;
        text-align: center;
    }
    
    &__number{
        @extend %font_R_l;
        color:inherit;
        font-size: 59px;
        line-height: 39px;
    }
    
    &__noteDown{
        @extend %font_R_l;
        color:inherit;
        font-size: 18px;
        line-height: 30px;
        padding: 18px 20px;
    }
    
    
    &__toggleBlock{
        position: relative;
        z-index: 40;
    }
    
    &__wrapTitleToggle{
        display: flex;
        flex-wrap: wrap;
        margin:50px 10vw 36px 10vw;
    }
    
    &__toggle_1, &__toggle_2{
        flex-basis: 100%;
        @extend %font_R_l;
        text-decoration: underline;
        letter-spacing: 0.08em;
        line-height: 39px;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 12px 0;
    }
    
    &__toggle_1.active, &__toggle_2.active{
        @extend %font_R_b;
        text-decoration: none;
        font-size: 16px;
        line-height: 25px;
    }
    
    &__wrapToggleImg{
        position:relative;
    }

    &__toggleImg{
        position:absolute;
        width:100%;
        max-width: 100%;
        height: auto;
        opacity:0;
        transition: opacity 0.7s;       
        &.active{
            opacity:1;
            transition: opacity 0.7s;
        }
    }
    
    &__toggleFormat{
        padding-top: 63.4%;
    }
    
    &__bg{
        display:none;
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        width:31.3vw;
        overflow: hidden;
    }
    
    &__bgImg_3{
        position: absolute;
        width: 210%;
        top: 18%;
        max-width: initial;
        display: block;
        right:0;
        left:auto;
        transform: translateY(3%);
        transition: transform 0.7s ease-in-out;
    }

}

@keyframes section3Line1{
    0%{
        height:0;
    }
    100%{
        height:45%;
    }
}

@keyframes section3Line2{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}

@keyframes section3Line3{
    0%{
        height:0;
    }
    100%{
        height:100%;
    }
}

@keyframes section3Line4{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}

@keyframes section3Note{
    0%{
        background-color: #fff;
        color:#333;
    }
    100%{
        background-color: #d51317;
        color:#fff;
    }
}

.section3-init .section3{
    &__wrapTitleNote{
        animation: section3Note 0.7s 1.3s;
        animation-fill-mode: forwards;
                
        .line1 {
            animation: section3Line1 0.2s linear;
            animation-fill-mode: forwards;
        }
        .line2 {
            animation: section3Line2 0.4s linear 0.2s;
            animation-fill-mode: forwards;
        }
        .line3 {
            animation: section3Line3 0.5s linear 0.6s;
            animation-fill-mode: forwards;

        }
        .line4 {
            animation: section3Line4 0.4s linear 1.1s;
            animation-fill-mode: forwards;
        }
        
        
    }
    
}

.section1-active, .section2-active{
    .section3__bgImg_3{
        transform: translateY(10%);
        transition: transform 1s ease-in-out;
    } 
}

.section3-active{
    .section3__bgImg_3{
        transform: translateY(0%);
        transition: transform 1s ease-in-out;
    } 
}

.section4-active, .section5-active, .section6-active,.section7-active{
    .section3__bgImg_3{
        transform: translateY(-12%);
        transition: transform 1s ease-in-out;
    } 
}


.section4{
    width:100%;       
    &__content{
        width:100%;
        overflow:hidden;       
    }
    
    &__item{
        position:relative;
        
        &_1{
            //background: #b8b8b8 url(../img/s4-bg1.png);
            background-size: 47%;
            background-position: center top;
            background-repeat: no-repeat;
            background-color: #b8b8b8;
            padding: 48.5% 10vw 20vw 10vw;
        }
        &_2{
             //background:  url(../img/s4-bg2.png);
             background-size: 49%;
            background-position: center 12vw;
            background-repeat: no-repeat;
            background-color: #d51317;
            padding: 48.5% 10vw 14vw 10vw;
        }
        &_3{
             //background:  url(../img/s4-bg3.png);
             background-size: 34%;
            background-position: center 12vw;
            background-repeat: no-repeat;
            background-color: #323232;
            padding: 52.5% 10vw 18vw 10vw;
        }
    }
    
    &__itemImg{
        position: absolute;
        z-index: 1;
        
        &_1{
            width:53%;
            top:-8.5vw;
            left:13.5%;
        }
        
        &_2{
            width:49%;
            top:12vw;
            left:25.5%;
        }
        
        &_3{
            width:35%;
            top:9vw;
            left:32.5%;
        }
    }
    
    &__hoverImg{
        display:none;
        position:absolute;

        left:0;
        right:0;
        width:100%;
        opacity:0;
        transition: opacity 0.8s;
        
        &_1{
            top:0;  
        }
        &_2, &_3{
            top:3vw;
        }
    }
    
    &__item:hover .section4__hoverImg{
        opacity: 1;
        transition: opacity 0.8s;
    }
    
    &__title{
        position: relative;
        @extend %font_GP_b;
        color:#fff;
        font-size: 26px;
        line-height: 40px;
        margin:0 0 10px 0;
        z-index:2;
        
    }
    
    &__text{
        z-index:2;
        position:relative;
        p{
            @extend %font_R_l;
            color:#fff;
            font-size: 16px;
            line-height: 24px;
        } 
    }
}


.section5{
    width:100%;
    background: #fff;
    padding-top:16vw;
    padding-bottom: 15vw;
    position:relative;
    
    &__content{
        overflow: hidden;
        
    }
    
    &__title{
        @extend %font_GP_b;
        color:#273441;
        font-size:26px;
        line-height: 1.346;
        padding: 16px 0 19px 0;
        margin:0 10vw 0 10vw;

    }
    
    &__text p{
        @extend %font_R_l;
        color:#333;
        font-size:16px;
        line-height:24px;
        margin:0 10vw 24px 10vw;

    }
    
    &__bold{
        @extend %font_R_b;
        color:#333;
        font-size:16px;
        line-height:24px;         
    }
    
    &__blockIcon{
        margin:0 10vw 34px 10vw;
    }
    
    &__wrapIcon{
        display:flex;
        flex-wrap: wrap;
        margin:0 -10px -10px 0;
    }
    
    &__Icon{
        max-width: 135px;
        flex-basis: calc(50% - 10px);
        position:relative; 
        margin:0 10px 10px 0;
        background-color:#dddddd;
        border:4px solid #dddddd;
        box-sizing: border-box;
        
        &.active{
            background-color:#fff;
            border:4px solid #d51317;
        }
    }
    
    &__iconFormat{
        padding-top:107.4%; 
    }
    
    &__imgIcon{
        position:absolute;
        bottom: 50%;
        width: 40%;
        left:30%;
    }
    
    &__labelIcon{
        position:absolute;
        top: 50%;
        bottom:0;
        width: 100%;
        @extend %font_R_b;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        padding: 9% 5% 0 5%;
    }
    
    &__wrapText{
        position:relative;
        
    }
    
    &__itemText{
        position:absolute;
        width:100%;
        top:0;
        left:0;
        transform: translateX(12%);
        opacity:0;
        transition:transform 0.7s, opacity 0.5s;
        
        &.active{
            transform: translateX(0%);
            opacity:1;
            transition:transform 0.7s 0.5s cubic-bezier(.3,.66,.51,.97), opacity 0.7s 0.5s; 
        }
    }
    
    &__bg{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width:71vw;
    }
    
    &__bgImg{
        position: absolute;
        width: 100%;
        right:0;
        bottom:0;
        transform: translateY(0%);
        transition: transform 1s ease-in-out;
    }


}

.section1-active, .section3-active, .section4-active, .section2-active,{
    .section5__bgImg{
        transform: translateY(10%);
        transition: transform 1s ease-in-out;
    } 
}
/*
.section6-active{
    .section5__bgImg{
        transform: translateY(0%);
        transition: transform 1.6s ease-in-out;
    } 
}
*/

.section6-active, .section7-active{
    .section5__bgImg{
        transform: translateY(-8%);
        transition: transform 1s ease-in-out;
    } 
}


.section6{

    width:100%;
    background: #fff;
    padding-top:10vw;
    padding-bottom: 2vw;
    position:relative;
    
    &__content{
        position: relative;
    }
    
    &__wrapNavSlide{
        position:absolute;
        top:-75px;
        width: 100%;
        z-index:10;
        display: flex;
        justify-content: center;
    }
    
    &__navSlide{
        position: relative;
        margin: 0 auto;
        padding:15px 58px;
        height: 90px;
        z-index:10;
        background: #fff;
    }
    
    &__dotsSlide{
        position:relative;
        
        button{
            display: inline-block;
            zoom:1;
            border:0;
            background: none;
            position: relative;
            width: 18px;
            height: 60px;
            text-align: center;
            padding:0;
            &:focus{
                outline: none;
            }
            
            
        }
        
        span{
            margin: 0 auto;
            display: block;
            width: 9px;
            height:9px;
            border-radius:50%;
            background-color:#797979;
        }
        .active span{
            background-color:#d51317;
        }
    }
    
    &__arrowsSlide{
        position: absolute;
        top:15px;
        left:0;
        display:flex;
        margin: 0;
        justify-content: space-between;
        width: 100%;
        padding:0 15px;
        
        button{
            border:0;
            background: none;
            position: relative;
            width: 45px;
            height: 60px;
            padding:0;
            &:focus{
                outline: none;
            }
            &.disabled{
                opacity: 0.5;
            }
        }
        
        span{
            display: block;
            width: 0;
            overflow: hidden;
            &:before{                
                font-family: Flaticon;
                font-size: 46px;
                line-height: 60px;
                font-style: normal;
                color: #797979;
                display: block;
                width: 45px;
                position: absolute;                
                top:0;
                left:0;
                cursor: pointer; 
            }
            &[aria-label="Previous"]:before{
                content: "\f106";
            }
            &[aria-label="Next"]:before{
                content: "\f107";
            }
        }
    }
    
    &__slider{       
        position:relative;
    }
    
    &__formatSlider{
        padding-top: 55.31%;
    }
    
    
    &__slideImg{
       position: absolute;
       top:0;
       left:0;
       min-height: 100%;
       min-width:100%;
       max-width: 100%;
       max-height: 100%;
       object-fit: cover;
       display: block;
    }
        
    &__text{

    }
    
    &__title{
        @extend %font_GP_b;
        color:#273441;
        font-size:26px;
        line-height: 1.346;
        padding: 16px 0 19px 0;
        margin:24px 10vw 0 10vw;

    }
    
    &__text p{
        @extend %font_R_l;
        color:#333;
        font-size:16px;
        line-height:24px;
        margin:0 10vw 24px 10vw;

    }
    
    

}



.section7{

    width:100%;
    background: #fff;
    padding-top:3vw;
    padding-bottom: 0;
    position:relative;
    
    &__content{
        position: relative;
    }
    
  
    &__textWrap{
        margin:0 0 62px 0;

    }
    
    &__title{
        @extend %font_GP_b;
        color:#273441;
        font-size:26px;
        line-height: 1.346;
        margin:4px 10vw 20px 10vw;

    }
    
    &__text p{
        @extend %font_R_l;
        color:#333;
        font-size:16px;
        line-height:24px;
        margin:20px 10vw 24px 10vw;

    }
    
    &__button{
        margin-left:10vw;
        margin-top: 14px;
        height:60px;
        display: inline-block;
        padding: 0 24px;
        position:relative;        
        border-radius: 30px;
        background-color: #d51317;
    }
    
    &__buttonLink{
        display: block;
        @extend %font_GP_b;
        color:#fff;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
        white-space: nowrap;
    }
    
    &__telText{
        display:none;
        padding:28px;
    }
    
    &__telNumber{
        @extend %font_GP_b;
        color:#333;
        font-size: 20px;
        line-height: 28px;
    }
    
    &__mapWrap{
        margin:62px 0 0 0;
        position: relative;
        height: 81.25vw;
    }

}


#map-7s{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

.footer{
    

    &__wrap{
        padding:40px 0 15vw 0;
    }
    
    &__partnerWrap{
        margin:0 10vw;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &__partnerItem{
        flex-basis: 36vw;
        box-sizing: border-box;
        padding:16px 6px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    &__partnerLabel{
        @extend %font_GP_l;
        font-size:12px;
        line-height: 16px;
        color:#333;
        flex-grow: 3;
        margin: 0 0 12px 0;
    }
    
    &__partnerIcon{
        min-height:calc(12vw - 4px);
    }
    
    &__partnerImg, &__socialIcon{
        width:100%;
        max-width: 100%;
    }
    
    &__socialLabel{
        margin: 6px 0 10px 0;
        @extend %font_GP_l;
        font-size:14px;
        line-height: 16px;
        color:#333;
        text-align: center;
    }
    
    &__socialWrap{
        display:flex;
        justify-content: center;
    }
    
    &__socialLink{
        display:block;
        width:10vw;
        max-width: 37px;
        margin:0 5px 0 0;
        opacity: 0.7;
        &:hover{
           opacity:1; 
        }
    }
    
    
    
    &__confLabel{
        text-align: center;
        margin: 28px 0 0 0;
    }
    
    &__confLink{
        @extend %font_GP_l;
        font-size:12px;
        opacity: 0.9;
        line-height: 10px;
        display: inline-block;
        color: #5081b8;
        text-decoration: none;
        border-bottom: 1px solid rgba(80,129,184,0.4);
        &:hover{
            opacity: 1;
        }
    }
}