@media screen and (min-width: 1440px) {


.menu{
    
    &.menu_active{
        transform: translate(0%, 0%);
        transition: transform 0.5s ease 0.1s, opacity 0.4s;
        opacity: 1;
        z-index:110;
    }
    
    &__panel{
        width:5vw;
    }
    
    &__logoWrap_panel{
        padding:0.5vw;
        margin: 3vw 0 0 0; 
    }
    
    &__titleWrap{

        margin:5.7vw 0 0 0;
    }
    
    &__icon_svg{
        width:1.25vw;
        
    }
    &__title{
        font-size:0.95vw;
        line-height: 1.25vw;
        margin-left: 1.05vw;
    }
    &__icon{
        width:1.25vw;
        height:1.25vw;
    }
    
}



.content{

   left:5vw;
}




.section1{
    
    min-height:50vw;
    
    &__slideImg{
        //min-height: 100vh;
        min-height: 50vw;

    }
    
     &__info{
        padding: 4.73vw 15vw 4.73vw calc(384px + 5vw);
    }
    
    &__telWrap{
        margin: 0 0 0 0;
    }

    &__titleWrap{
        flex-basis: 52%;
    }
    
    
    &__title{
        h1{
            max-width:53vw;
            font-size: 3.63vw;
            line-height: 4.16vw;
        }
        
    }
    
    &__brand{
        font-size: 3.63vw;
        line-height: 4.16vw;
    }
    
    &__stock{
        margin-top: 2.1vw;
        p{            
            font-size: 1.68vw;
            line-height:2.675vw;
        }
    }
    
    &__button{
        margin-top: 2vw;
        height:3.675vw;
        padding: 0 1.8375vw;      
        border-radius: 1.8375vw;;
    }
    
    &__buttonLink{
        font-size: 1.15vw;
        line-height: 3.675vw;
    }
    
    &__rightBar{
        min-width: 50vw;
        height: 5vw;
        transform-origin: calc(100% - 2.5vw) 2.5vw;
        
    }
    

    &__title_contactButton{
        font-size: 0.95vw;
        line-height: 5vw;
        padding: 0 2.5vw 0 5vw;
        &:before{
            font-size: 0.6vw;
            margin-left: -2vw;          
        }
        
    }
    
    &__title_scrollDown{
        font-size:0.95vw;
        line-height: 5vw;
        padding: 0 1vw 0 5vw;
        
        &:before{
            font-size: 1.2vw;
            margin: 0.1vw 0 0 -5vw;          
        }
    }
    
    &__contact{
        width:calc(100vw - 384px);
    }
    

    
    &__addrContact{
        flex-basis: 57%;
    }
    
    &__telContact{
        flex-basis: 22%;
    }
    
    &__mailContact{
        flex-basis: 21%;
    }
    
    &__wrapMapContact{
    }
}


.section2-active .section2__title:before{
    width:6.5vw;
    transition: width 1.2s;
}

.section2{
    padding-top:6vw;
    
    &__content{

    }
    
    &__title{
        font-size:3.47vw;
        margin: 0 35vw 16px 25vw;   
        position:relative;

        &:before{
            display: block;
            content:"";
            background-color: #d51317;
            height:3px;
            width:0;
            top:50%;
            margin:0 0 0 -10vw;
            position:absolute;
            transition: width 1.2s;
        }

    }
    
    &__text{
        font-size:20px;
        line-height:39px;
        margin: 1.84vw 35vw 4.05vw 25vw;
    }
    
    &__brand{
        font-size:20px;
        line-height:39px;         
    }
    
    &__wrapTitleSlide{
        margin:4.05vw 35vw 4.05vw 25vw;
    }
    
    &__titleSlide{
        font-size:2vw;
        line-height: 60px;
    }
    
    &__arrowsSlide{
        margin: 0 -17px;
        
        button{
            border:0;
            background: none;
            position: relative;
            width: 60px;
            height: 60px;
            &:focus{
                outline: none;
            }
            &.disabled{
                opacity: 0.5;
            }
            &.owl-prev{
                margin-right: 10px;
            }
        }
        
        span{
            &:before{                
                font-size: 46px;
                line-height: 60px;
                width: 60px;               
                top:0;
                left:0;
            }

        }
    }
    
    &__slider{
        margin:0 calc(25vw - 30px) 0 0;
        transform: translateX(calc(-10vw - 30px));
        &.owl-carousel{
            width:auto;
        }
    }

    &__formatSlider{
        padding-top: 67%;
    }
    &__bgImg_1{
        left:0;
        right: auto;
    }
    
    
    &__bgImg_2{
         position: absolute;
         width: 61%;
         top: 45%;
         z-index: 50;
         left: 28%;
         right:auto;

    }
    
}


.section3{
    padding-top:4vw;
    
    &__title{
        font-size:3.47vw;
        margin: 0 35vw 16px 25vw;   
        position:relative;

    }
    
    &__text{
        font-size:20px;
        line-height:39px;
        margin: 2vw 35vw 2vw 25vw;
    }

    
    &__wrapTitleNote{
        width: 15vw;
        height: 16.25vw;
        right: 15vw;
        bottom:3vw;
        
        .line1 {
            width:4px;
        }
        .line2 {
            height:4px;
        }
        .line3 {;
            width:4px;
        }
        .line4 {
            height:4px;
        }
        
        
    }
    
    &__noteUp{
        font-size: 2.68vw;
        line-height: 2.05vw;
        padding-top: 3.79vw;
    }
    
    &__number{
        font-size: 5.47vw;
        line-height: 2.05vw;
    }
    
    &__noteDown{
        font-size: 0.95vw;
        line-height: 1.58vw;
        padding: 1.9vw 2.95vw;
    }
    
    
    
    
    
    &__wrapTitleToggle{
        margin:3vw 15vw 5vw 25vw;
    }
    
    &__toggle_1, &__toggle_2{
        margin: 0 3vw 0 0;
        flex-basis: 43%;
        padding: 0;
    }
    

    
    &__wrapToggleImg{
        margin: 0 15vw;
    }
    

    &__bgImg_3{
     width: 32.2vw;
    }
    
    &__bgImg_3{
        position: absolute;
        width: 115%;
        top: 17%;


    }

   
}

.section4{
    
    &__content{

    }
    
    &__item{

        
        &_1{
            padding:19vw 3vw 7vw 3vw;
            //background: #b8b8b8 url(../img/s4-bg1.png);
            //background-size: 50%;
            background-position: center top;
            background-repeat: no-repeat;
            background-color: #b8b8b8;
        }
        &_2{
            padding:19vw 3vw 7vw 3vw;
             //background:  url(../img/s4-bg2.png);
             background-size: 64%;
            background-position: center 1.7vw;
            background-repeat: no-repeat;
            background-color: #d51317;
        }
        &_3{
            padding:19vw 3vw 7vw 3vw;
             //background:  url(../img/s4-bg3.png);
             background-size: 38%;
            background-position: center 1.7vw;
            background-repeat: no-repeat;
            background-color: #323232;
        }
    }
    
    &__itemImg{
        
        &_1{
            width:60%;
            top:-1vw;
            left:15%;
        }
        
        &_2{
            width:64%;
            top:4.7vw;
            left:20%;
        }
        
        &_3{
            width:38%;
            top:4.7vw;
            left:31%;
        }
    }
    
    &__title{
        font-size: 2.1vw;
        line-height: 3.95vw;
        margin:0 0 1.05vw 0;
        
    }
    
    &__text{
        p{
            font-size: 1vw;
            line-height: 1.74vw;;
        } 
    }
}


.section5{

    &__bg{

    }
    
    &__content{
        display: flex;       
    }
    
    &__blockIcon{
        flex-basis: 25vw;
        margin:0 0 0 15vw;
    }
    
    &__Icon{
        max-width: initial;
        flex-basis: calc(50% - 10px);
    }
    
    &__iconFormat{
        padding-top:100%; 
    }
    
    &__imgIcon{
        width: 28%;
        left:36%;
    }
    
    &__labelIcon{
        font-size: 0.83vw;
        line-height: 1.4vw;
        padding: 9% 10% 0 10%;
    }
    
    &__wrapText{
        flex-basis: 35vw;
        margin:0 auto 0 5vw;       
    }
    
    &__title{
        font-size:3.47vw;
        margin: 0.84vw 0 1.47vw 0;   
        position:relative;

    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin: 1.47vw 0 2vw 0;
    }
    
        
    &__bold{
        font-size:20px;
        line-height:39px;
    }
}


.section6{

    &__wrapNavSlide{    
        width: auto;
        right: 5vw;
        left: 0;
    }
    
    &__navSlide{
        padding:0.78125vw 4.48vw 1.5625vw 4.48vw;
        height: 6.72vw;
    }
    
    &__dotsSlide{
        
        button{
            width: 1.25vw;
            height:4.6875vw;           
        }
        
        span{
            width: 0.625vw;
            height: 0.625vw;
        }
    }
    
    &__arrowsSlide{
        top:0.78125vw;
        padding:0 1.5625vw 0 1.146vw;
        
        button{
            width: 3.125vw;
            height: 4.6875vw;

        }
        
        span{
            display: block;
            width: 0;
            overflow: hidden;
            &:before{                
                font-size: 3.54vw;
                line-height: 4.6875vw;
                width: 3.125vw; 
            }
        }
    }
    
    &__formatSlider{
        padding-top: 53.24%;
        
    }    
    
    &__textWrap{
        margin: 0 20vw;
        position: relative;
        background: #fff;
        z-index: 10;
        transform: translateY(-8vw);
    }
    
    &__title{
        font-size:3.47vw;
        margin: 0.84vw 5vw 1.47vw 5vw;   
        padding: 3.35vw 0 0 0;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin: 1.47vw 5vw 0 5vw;
    }
}

.section7{

    padding-top:0;
    padding-bottom: 5vw;

    &__content{
        display: flex;
        align-items: center;
    }
    
    &__textWrap{
        margin:0 5vw 0 15vw;
        width: 25vw;
    }
  
    &__text{

    }
    
    &__title{
        font-size:42px;
        margin:0 0 1.5625vw 0;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin:1.5625vw 0;
    }
    
    
    &__button{
        margin: 1vw 0 0 0;
        height:3.675vw;
        padding: 0 1.8375vw;      
        border-radius: 1.8375vw;;
    }
    
    &__buttonLink{
        font-size: 1.15vw;
        line-height: 3.675vw;
    }
    
    &__telText{
        margin:2.08vw 0 0 0;
        display:block;
        
    }
    
    &__telNumber{
    }
    
    &__mapWrap{
        flex-grow: 1;
        height: 28.125vw;
        margin:0;
    }

}

.footer{
    

    &__wrap{
        padding:1.45vw 0 2.5vw 0;
    }
    
    &__partnerWrap{
        margin: 0 0 0 7vw;
        justify-content: center;
    }
    
    &__partnerItem{
        margin: 0 1vw;
        flex-basis: 14vw;
        padding:1.11vw 0.416vw;
    }
    
    &__partnerLabel{
        font-size:0.9375vw;
        line-height: 1.4vw;
        margin: 0 0 1.15vw 0;
    }
    
    &__partnerIcon{
        min-height:4.4vw;
    }
    
    &__socialLabel{
        margin: 1.72vw 0 1.82vw 0;
        font-size:0.9375vw;
        line-height: 0.85vw;
    }
    
    &__socialWrap{
        
    }
    
    &__socialLink{
        width: 2.65625vw;
        max-width: initial;
        margin:0 0.3646vw 0 0;
        
    }
    
    
    
    &__confLabel{
        margin: 2.6vw 0 0 0;
    }
    
    &__confLink{
        font-size:0.9375vw;
        line-height: 0.85vw;
    }
}


}
