@media screen and (min-width: 1024px) {

    
.menu{
    right:auto;
    width:384px;
    transform: translate(-100%, 0%);
    
    &.menu_open{

    }
    

    
    &__panel{
        right:auto;
        bottom:0;
        width:5.26%;
        height:auto;
        border-bottom: none;
        border-right: 1px solid #b6b6b6;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: content-box;
        

    }
    
    &__logoWrap_panel{
        padding:9px;
        width:100%;
        margin: 40px 0 0 0;
        
    }
    
    &__titleWrap{
        width:auto;
        transform: rotate(-90deg);
        margin:5.4vw 0 0 0;
    }

    
}

.content{

   top:0;
   left:5.26vw;
}

.section1{

    
    &__slider{

        
    }
    
    &__slideWrap{

    }
    
    &__slideImg{
        height: 100vh;
    }
    
     &__info{
        padding: 40px 5.26vw;
        background:linear-gradient(rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 10%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.6) 100%);
    }
    
    &__telWrap{
        margin: 0 0 0 0;
    }
    
    &__telIcon{
        &:before{
            font-size: 35px;
            margin:0 25px 0 -5px;
        }
    }
    
    &__telText{
        
    }
    
    &__telLabel{

    }
    
    &__telNumber{

    }
    
    &__titleWrap{
        flex-basis: 52%;
    }
    
    
    &__title{
        h1{
            max-width: 830px;
           font-size: 56px;
           line-height: 65px;
        }
        
    }
    
    &__brand{
        font-size: 56px;
        line-height: 65px;
    }
    
    &__stock{
        margin-top: 20px;
        p{
            line-height: 51px;
        }
    }
    
    &__button{
           margin-top: 26px;
    }
    
    &__buttonLink{

    }
    
    &__rightBar{
        display:flex;
    }
    &__contact{
        display:flex;
    }
}


.section2{
    padding-top:6vw;
    
    &__content{

    }
    
    &__title{
        font-size:48px;
        margin: 0 31.36vw 16px 5.26vw;
    }
    
    &__text{
        font-size:20px;
        line-height:39px;
        margin: 16px 31.36vw 62px 5.26vw;
    }
    
    &__brand{
        font-size:20px;
        line-height:39px;         
    }
    
    &__wrapTitleSlide{
        margin:62px 31.36vw 48px 5.26vw;
    }
    
    &__titleSlide{
        font-size:32px;
        line-height: 60px;
    }
    
    &__arrowsSlide{
        margin: 0 -17px;
        
        button{
            border:0;
            background: none;
            position: relative;
            width: 60px;
            height: 60px;
            &:focus{
                outline: none;
            }
            &.disabled{
                opacity: 0.5;
            }
            &.owl-prev{
                margin-right: 10px;
            }
        }
        
        span{
            &:before{                
                font-size: 46px;
                line-height: 60px;
                width: 60px;               
                top:0;
                left:0;
            }

        }
    }
    
    &__slider{
        margin:0 26.3vw 0 0;
        transform: translateX(-5.26vw);
        &.owl-carousel{
            width:auto;
        }
    }

    &__formatSlider{
        padding-top: 67%;
    }
    
    

    
    &__bg{
        display:block;
    }
    
}


.section3{
    padding-top:6vw;
    padding-bottom:6vw;
    
    
    &__title{
        font-size:48px;
        margin: 0 31.36vw 16px 5.26vw;
    }
    
    &__text{
        font-size:20px;
        line-height:39px;
        margin: 18px 31.36vw 40px 5.26vw;
    }

    &__wrapTitleNote{
        position: absolute;
        margin:0 0 0 0;
        right: 5.26vw;
        bottom:40px;
    }
    
    &__wrapTitleToggle{
        margin:30px 0 46px 5.26vw;
    }
    
        
    &__toggle_1, &__toggle_2{
        flex-basis: 50%;
        padding: 0;
    }
    
    &__bg{
        display:block;
    }
    
}

.section4{
    
    &__content{
        display:flex;
    }
    
    &__item{
        
        flex:1 1 33%;
        box-sizing:border-box;
        
        &_1{
            padding:19vw 3vw 8vw 3vw;
            //background: #b8b8b8 url(../img/s4-bg1.png);
            background-size: 52%;
            background-position: center top;
            background-repeat: no-repeat;
            background-color: #b8b8b8;
        }
        &_2{
            padding:19vw 3vw 8vw 3vw;
             //background:  url(../img/s4-bg2.png);
             background-size: 55%;
            background-position: center 1vw;
            background-repeat: no-repeat;
            background-color: #d51317;
        }
        &_3{
            padding:19vw 3vw 8vw 3vw;
            // background:  url(../img/s4-bg3.png);
             background-size: 37%;
            background-position: center 1.5vw;
            background-repeat: no-repeat;
            background-color: #323232;
        }
        
        &:before{
            content:"";
            display:block;
            position: absolute;
            z-index: 3;
            top:0;
            left:0;
            background-color: #fff;
            width:100%;
            height:3vw;
            transition: height 0.8s;
        }
        
        &:after{
            content:"";
            display:block;
            position: absolute;
            z-index: 3;
            top:auto;
            left:0;
            background-color: #fff;
            bottom:0;
            width:100%;
            height:3vw;
            transition: height 0.8s;
        }
        
        &:hover:before, &:hover:after{
            height:0;
            transition: height 0.8s;
        }
    }
    
    &__itemImg{
        
        &_1{
            width:57%;
            top:-0.5vw;
            left:15%;
        }
        
        &_2{
            width:55%;
            top:4vw;
            left:22.5%;
        }
        
        &_3{
            width:37%;
            top:4.5vw;
            left:31.5%;
        }
    }
    &__hoverImg{
        display:block;
    }
    
    &__title{
        font-size: 26px;
        margin:0 0 10px 0;
        
    }
    
    &__text{
        p{
            font-size: 16px;
            line-height: 22px;
        } 
    }
}


.section5{       
    padding-top:8vw;
    padding-bottom: 4vw;
    &__bg{
        width:30vw;
    }
    
    &__blockIcon{
        margin:0 5.26vw 44px 5.26vw;
    }
       
    &__title{
        font-size:48px;
        margin: 0 5.26vw 22px 5.26vw;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin: 18px 5.26vw 38px 5.26vw;
    }
    
    &__bold{
        font-size:20px;
        line-height:39px;
    }
}

.section6{       
    padding-top:0;
    padding-bottom: 0;

    &__wrapNavSlide{
        top:0;
    }
    
    &__formatSlider{
        padding-top: 50%;
    }
    
    &__title{
        font-size:48px;
        margin: 70px 5.26vw 13px 5.26vw;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin: 1px 5.26vw 38px 5.26vw;
    }
}

.section7{

    padding-top:4vw;

    &__content{
    }
    
    &__textWrap{
        margin:0 auto 104px 5.26vw;
        width: 45vw;
    }
    
    &__text{

    }
    
    &__title{
        margin:0 0 22px 0;
    }
    
    &__text p{
        margin:22px 0 18px 0;
    }
    
    &__button{
        margin:18px 0 0 0;

    }
    
    &__mapWrap{
        margin:104px 0 0 0;
    }

}

.footer{
    &__wrap{
        padding: 24px 0 56px 0;
    }
    
    &__partnerWrap{
        margin:0;
    }
    &__partnerItem{
        flex-basis: 17vw;
    }    
    &__partnerLabel{
        margin: 0 0 14px 0;
    }
    &__partnerIcon{
        min-height:calc(5.66vw - 4px);
    }
    &__socialLabel{
        margin: 28px 0 24px 0;

    }
    &__confLabel{
        margin: 30px 0 0 0;
    }    
    
    &__confLink{
    }
}


}

