@media screen and (min-width: 640px) {

.menu{
    
    &__title{
        display:block;       
    }
    
    &__titleWrap{
        width:26.32%;
        margin:0 0 0 0;
    }
    
    &__icon{

    }
    
    &__logoWrap{
        margin:68px auto 10px;
    }
    
}

.section1{
    min-height:700px;
    
    
    &__info{
        padding: 40px 10%;
    }
    
    &__telWrap{
        
    }
    
    &__telIcon{
        &:before{
            font-size: 35px;
            margin:0 25px 0 -5px;
        }
    }
    
    &__telText{
        
    }
    
    &__telLabel{
        font-size: 18px;
        margin-right: 20px;
    }
    
    &__telNumber{
        font-size: 26px;
    }
    
    &__title{
        h1{
           font-size: 48px;
           line-height: 57px;
        }
        
    }
    
    &__brand{
        font-size: 48px;
        line-height: 57px;
    }
    
    &__stock{
        margin-top: 36px;
        p{
            font-size: 26px;
            line-height: 39px;
        }
    }
    
    &__button{
        margin-top: 50px;
    }
    
    &__buttonLink{
        font-size: 18px;
    }
}


.section2{

    padding-top:9vw;
    
    &__content{

    }
    
    &__title{
        font-size:48px;
        margin:0 10vw 18px 10vw;
    }
    
    &__text{
        font-size:20px;
        line-height:39px;
        margin:18px 10vw 20px 10vw;
    }
    
    &__brand{
        font-size:20px;
        line-height:39px;         
    }
    
    &__wrapTitleSlide{
        margin:20px 10vw 48px 10vw;
    }
    
    &__titleSlide{
        font-size:32px;
        line-height: 60px;
    }
    
    &__arrowsSlide{
        margin: 0 -17px;
        
        button{
            border:0;
            background: none;
            position: relative;
            width: 60px;
            height: 60px;
            &:focus{
                outline: none;
            }
            &.disabled{
                opacity: 0.5;
            }
            &.owl-prev{
                margin-right: 10px;
            }
        }
        
        span{
            &:before{                
                font-size: 46px;
                line-height: 60px;
                width: 60px;               
                top:0;
                left:0;
            }

        }
    }

    &__formatSlider{
        padding-top: 67%;
    }
    
}

.section3{

    padding-top:6vw;

    
    &__title{
        font-size:48px;
        margin:0 10vw 18px 10vw;
    }
    
    &__text{
        font-size:20px;
        line-height:39px;
        margin:20px 10vw 39px 10vw;
    }
    
    
    &__wrapTitleToggle{
        margin:28px 10vw 46px 10vw;
    }
    
    
    &__toggle_1, &__toggle_2{
        line-height: 39px;
        font-size: 18px;
        padding: 4px 0;
    }
    
    &__toggle_1.active, &__toggle_2.active{
        font-size: 18px;
        line-height: 39px;
    }
    
    &__wrapTitleNote{
        
    }
    
}

.section4{
    
    &__item{
        &_1{
            padding:44.5% 10vw 11.3vw 10vw;
            //background: #b8b8b8 url(../img/s4-bg1.png);
            background-size: 41%;
            background-position: center top;
            background-repeat: no-repeat;
            background-color: #b8b8b8;
        }
        &_2{
            padding:54% 10vw 17vw 10vw;
             //background:  url(../img/s4-bg2.png);
             background-size: 49%;
            background-position: center 12vw;
            background-repeat: no-repeat;
            background-color: #d51317;
        }
        &_3{
            padding:48% 10vw 15vw 10vw;
             //background:  url(../img/s4-bg3.png);
             background-size: 34%;
            background-position: center 4vw;
            background-repeat: no-repeat;
            background-color: #323232;
        }
    }
    
    &__itemImg{
        
        &_1{
            width:49%;
            top:-8.5vw;
            left:19.5%;
        }
        
        &_2{
            width:49%;
            top:12vw;
            left:25.5%;
        }
        
        &_3{
            width:34%;
            top:4vw;
            left:33%;
        }
    }
    
    
    &__title{
        font-size: 36px;
        line-height: 40px;
        margin:0 0 24px 0;
        
    }
    
    &__text{
        p{
            font-size: 20px;
            line-height: 35px;
        } 
    }
}


.section5{
    padding-top:102px;
    padding-bottom: 10vw;
    &__bg{
        width:50vw;
    }
    
    &__bgImg{
    }
    
    &__blockIcon{
        margin:0 10vw 15px 10vw;
    }
    
    &__title{
        font-size:48px;
        margin:0 10vw 0 10vw;
        padding: 16px 0 0 0;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin:6px 10vw 39px 10vw;
    }
    
    &__bold{
        font-size:20px;
        line-height:39px;
    }
    
}


.section6{
    padding-top:0;
    padding-bottom: 0;
    
    &__wrapNavSlide{
        top:-45px;
    }
    
    &__formatSlider{
        padding-top: 50%;
    }
    
    &__title{
        font-size:48px;
        margin:34px 10vw 0 10vw;
        padding: 16px 0 0 0;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin:12px 10vw 39px 10vw;
    }
    
}

.section7{

    padding-top:3.8vw;
    padding-bottom: 114px;
    &__content{
    }
    
  
    &__textWrap{
        margin:0 0 104px 0;

    }
    
    &__title{
        color:#333;
        font-size:36px;
        margin:0 10vw 20px 10vw;
    }
    
    &__text p{
        font-size:20px;
        line-height:39px;
        margin:20px 10vw 20px 10vw;
    }
    
    &__button{
        padding: 0 30px;
    }
    
    &__buttonLink{
        font-size: 18px;
    }
    
    &__telNumber{
        font-size: 26px;
    }
    
    &__mapWrap{
        margin:104px 0 0 0;
    }

}

.footer{
    &__wrap{
        border-top: 1px solid #b6b6b6;
        padding:24px 0 115px 0;
    }
    
    &__partnerWrap{
        justify-content: space-around;
    }
    &__partnerItem{
        flex-basis: 30vw;
    }    
    &__partnerLabel{
        font-size:13px;
        line-height: 17px;
        margin: 0 0 14px 0;
    }
    &__partnerIcon{
        min-height:calc(10vw - 4px);
    }
    &__socialLabel{
        margin: 6px 0 20px 0;
        font-size:13px;
    }
    &__confLabel{
        margin: 40px 0 0 0;
    }    
    
    &__confLink{
        font-size:13px;
        line-height: 11px;
    }
}


}
