@media screen and (min-width: 1920px) {


.menu{
    width:20vw;
    
    &__logoWrap{
        width:8.42vw;
        margin:3.56vw auto 0.53vw;
    }

    
    &__nav{
        margin:0.79vw auto;
        padding:0 1.68vw;
    }
    
}

.nav-link{
    font-size: 1.16vw;
    line-height: 2.2vw;
    padding:1.05vw 0;       
}

.dropdown-toggle:before{
    font-size: 0.68vw;
    margin-left: -1.3vw;
}

.dropdown-item{
    font-size: 0.84vw;
    line-height: 1.58vw;
    padding: 0 0 0 1.37vw;
}


.section1{
    
    &__info{
        padding: 4.73vw 15vw 4.73vw 25vw;
    }
    
    &__telIcon{
        margin:0 0 0 0;
        &:before{
            font-size: 1.89vw;
            margin:0 1.2vw 0 -0.25vw;
        }
    }

    
    &__telLabel{
        font-size: 1.05vw;
    }
    
    &__telNumber{
        font-size: 1.47vw;
    }

    
    &__title{
        h1{
            max-width:60vw;       
        }
    }    
}


.section2{
    
    &__content{

    }
    
    &__title{
        font-size:3.47vw;
    }
    
    &__text{
        font-size:1.05vw;
        line-height:2.05vw;
    }
    
    &__brand{
        font-size:1.05vw;
        line-height:2.05vw;        
    }
    
    &__wrapTitleSlide{
    }
    
    &__titleSlide{
        line-height: 3vw;
    }
    
    &__arrowsSlide{
        margin: 0 -0.9vw;
        
        button{

            width: 3vw;
            height: 3vw;

            &.owl-prev{
                margin-right: 0.5vw;
            }
        }
        
        span{
            &:before{                
                font-size: 2.42vw;
                line-height: 3vw;
                width: 3vw;               
            }

        }
    }
    
    &__slider{
        margin:0 calc(25vw - 30px) 0 0;
        transform: translateX(calc(-10vw - 30px));
        &.owl-carousel{
            width:auto;
        }
    }

}


.section3{

    
    &__title{
        font-size:3.47vw;
    }
    
    &__text{
        font-size:1.05vw;
        line-height:2.05vw;
    }
    

    &__toggle_1, &__toggle_2{
        line-height: 2.05vw;
        font-size: 0.95vw;
    }
    
    &__toggle_1.active, &__toggle_2.active{
        line-height: 2.05vw;
        font-size: 0.95vw;
    }


}


.section5{

    
    
    &__text p{
        font-size:1.05vw;
        line-height:2.05vw;
    }
    
    &__bold{
        font-size:1.05vw;
        line-height:2.05vw;
    }

}

.section6{
    
    &__text p{
        font-size:1.042vw;
        line-height:2.05vw;
     }

}

.section7{

    &__content{
    }
    
  
    &__text{

    }
    
    &__title{
        font-size:2.08vw;
    }
    &__text p{
        font-size:1.042vw;
        line-height:2.05vw;
     }
    

    &__telNumber{
        font-size: 1.47vw;
    }


}

}